<a href="https://colab.research.google.com/github/Shahahaha11/LION_DEN/blob/main/cleaning_mdl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name map


---


trial -> trying new variable

---


data_cleaning -> a separate file which ends with saving a pickle that you use in model.ipynb


---


model -> Main model with little extra code

---


model_testing -> Less code, optimized for testing

---

In [ ]:
import pandas as pd
import numpy as np
file_path= "/content/austinHousingData.csv"
data = pd.read_csv(file_path)

In [ ]:
data['zipcode'].nunique()

48

In [ ]:
################ NEW VARIABLE TEST##############################

In [ ]:
zp = pd.read_csv("/content/uszips.csv")
zp['zip']

0          601
1          602
2          603
3          606
4          610
         ...
33778    99923
33779    99925
33780    99926
33781    99927
33782    99929
Name: zip, Length: 33783, dtype: int64

In [ ]:
zp[zp['city']== 'Austin']['zip'].nunique()

51

In [ ]:
########### CHECKING IF MERGING IS RIGHT #########
missing_count = (data['zipcode'].isin(zp['zip']) == False).sum()
print(missing_count)

0

In [ ]:
import pandas as pd
zp = zp.set_index('zip')
zp.head()

,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
zip,,,,,,,,,,,,,,,,,
601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16721.0,100.2,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37510.0,477.6,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,48317.0,543.1,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5435.0,47.3,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25413.0,264.4,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.82, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [ ]:
data['population'] = data['zipcode'].map(zp['population'])
data['density'] = data['zipcode'].map(zp['density'])

In [ ]:
data[data['population'].isna()]['population'].sum()

np.float64(0.0)

In [ ]:
#USELESS FEATURES ## BUT WE DROP "city" and "zipcode" after using them. ## no dropping yet
useless_features= ['zipcode','zpid', 'city', 'streetAddress', 'zipcode', 'description','homeImage','homeType', 'latestPriceSource']

In [ ]:
data.dtypes

zpid                            int64
city                           object
streetAddress                  object
zipcode                         int64
description                    object
latitude                      float64
longitude                     float64
propertyTaxRate               float64
garageSpaces                    int64
hasAssociation                   bool
hasCooling                       bool
hasGarage                        bool
hasHeating                       bool
hasSpa                           bool
hasView                          bool
homeType                       object
parkingSpaces                   int64
yearBuilt                       int64
latestPrice                   float64
numPriceChanges                 int64
latest_saledate                object
latest_salemonth                int64
latest_saleyear                 int64
latestPriceSource              object
numOfPhotos                     int64
numOfAccessibilityFeatures      int64
numOfAppliances                 int64
numOfParkingFeatures            int64
numOfPatioAndPorchFeatures      int64
numOfSecurityFeatures           int64
numOfWaterfrontFeatures         int64
numOfWindowFeatures             int64
numOfCommunityFeatures          int64
lotSizeSqFt                   float64
livingAreaSqFt                float64
numOfPrimarySchools             int64
numOfElementarySchools          int64
numOfMiddleSchools              int64
numOfHighSchools                int64
avgSchoolDistance             float64
avgSchoolRating               float64
avgSchoolSize                   int64
MedianStudentsPerTeacher        int64
numOfBathrooms                float64
numOfBedrooms                   int64
numOfStories                    int64
homeImage                      object
population                    float64
density                       float64
dtype: object

In [ ]:
data['latest_saledate']

0        2019-09-02
1        2020-10-13
2        2019-07-31
3        2018-08-08
4        2018-10-31
            ...
15166    2020-12-10
15167    2020-12-16
15168    2021-01-27
15169    2019-08-07
15170    2021-01-23
Name: latest_saledate, Length: 15171, dtype: object

In [ ]:
data['latest_saledate'] = data['latest_saledate'].astype(str).str.strip()
data['latest_saledate'] = pd.to_datetime(data['latest_saledate'], errors='coerce')
print(data['latest_saledate'].isna().sum())

0

In [ ]:
data['latest_saledate'].head()

0   2019-09-02
1   2020-10-13
2   2019-07-31
3   2018-08-08
4   2018-10-31
Name: latest_saledate, dtype: datetime64[ns]

In [ ]:
data = data.sort_values('latest_saledate').reset_index(drop=True)
data.isna().sum()

zpid                          0
city                          0
streetAddress                 0
zipcode                       0
description                   2
latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
homeType                      0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
latestPriceSource             0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
homeImage                     0
population                    0
density                       0
dtype: int64

In [ ]:
 # We have 958 days of analysis
 data['latest_saledate'].value_counts().sort_index().isna().sum()

np.int64(0)

In [ ]:
#################### 1 CITY ONLY ###############################
df= data[data['city'] == 'austin'].sort_values(by='latest_saledate')
df.select_dtypes(include='integer').columns

Index(['zpid', 'zipcode', 'garageSpaces', 'parkingSpaces', 'yearBuilt',
       'numPriceChanges', 'latest_salemonth', 'latest_saleyear', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'numOfPrimarySchools',
       'numOfElementarySchools', 'numOfMiddleSchools', 'numOfHighSchools',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBedrooms',
       'numOfStories'],
      dtype='object')

In [ ]:
data['latest_saledate'].dropna()

0       2018-01-22
1       2018-01-22
2       2018-01-22
3       2018-01-22
4       2018-01-23
           ...
15166   2021-01-27
15167   2021-01-28
15168   2021-01-29
15169   2021-01-29
15170   2021-01-30
Name: latest_saledate, Length: 15171, dtype: datetime64[ns]

In [ ]:
df.select_dtypes(include='object').columns

Index(['city', 'streetAddress', 'description', 'homeType', 'latestPriceSource',
       'homeImage'],
      dtype='object')

In [ ]:
################# FINAL DATAFRAME IN USE ################
df_1 = df.drop(columns=useless_features, errors='ignore')
df_1.shape

(15020, 41)

In [ ]:
# FINAL CHECK BEFORE MERGING
df_1.isna().sum()

latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
population                    0
density                       0
dtype: int64

In [ ]:
# Get Mortgage rate
import pandas as pd
MTG = pd.read_csv('/content/MORTGAGE30US.csv')

print(MTG.shape)

MPPSQ = pd.read_csv('/content/MEDLISPRIPERSQUFEE12420.csv')
print(MPPSQ.dtypes)

(160, 2)
observation_date           object
MEDLISPRIPERSQUFEE12420     int64
dtype: object

In [ ]:
############################################################################### Tranforming Mortgage Data #############################################################################################

In [ ]:
################## TREATING DATES ON EXTERNAL MACRO VARIABLES ##################
def parse_obs_date(date_str):
    d = str(date_str).strip().split()[0]
    if "/" in d:
        return pd.to_datetime(d, format='%d/%m/%Y', errors='raise')
    else:
        return pd.to_datetime(d, errors='raise')

MTG['observation_date'] = MTG['observation_date'].apply(parse_obs_date)
MPPSQ['observation_date'] = MPPSQ['observation_date'].apply(parse_obs_date)
MTG['MORTGAGE30US'].dtypes

dtype('float64')

In [ ]:
print(MTG.isna().sum())
print(MPPSQ.isna().sum())

observation_date    0
MORTGAGE30US        0
dtype: int64
observation_date           0
MEDLISPRIPERSQUFEE12420    0
dtype: int64

In [ ]:
df_2 = df_1.copy()

In [ ]:
##################################.MERGE. ####################################

import pandas as pd

df_2['latest_saledate'] = pd.to_datetime(df_2['latest_saledate'], errors='coerce')
df_2 = df_2.sort_values('latest_saledate')

# Read and prepare the MTG rates
MTG['observation_date'] = pd.to_datetime(MTG['observation_date'], format='%d/%m/%Y', errors='coerce')
MTG = MTG.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MTG rate available
df_2 = pd.merge_asof(df_2, MTG, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'population',
       'density', 'MORTGAGE30US'],
      dtype='object')

In [ ]:
# read variable, sort variable on date
MPPSQ['observation_date'] = pd.to_datetime(MPPSQ['observation_date'], format='%d/%m/%Y', errors='coerce')
MPPSQ = MPPSQ.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MPPSQ available
df_2 = pd.merge_asof(df_2, MPPSQ, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if you no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'population',
       'density', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

In [ ]:
df_2[['latest_saledate','MORTGAGE30US','MEDLISPRIPERSQUFEE12420']]

      latest_saledate  MORTGAGE30US  MEDLISPRIPERSQUFEE12420
0          2018-01-22          4.04                      163
1          2018-01-22          4.04                      163
2          2018-01-22          4.04                      163
3          2018-01-22          4.04                      163
4          2018-01-23          4.04                      163
...               ...           ...                      ...
15015      2021-01-27          2.77                      226
15016      2021-01-28          2.73                      226
15017      2021-01-29          2.73                      226
15018      2021-01-29          2.73                      226
15019      2021-01-30          2.73                      226

[15020 rows x 3 columns]

In [ ]:
df_2.isna().sum()

latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
population                    0
density                       0
MORTGAGE30US                  0
MEDLISPRIPERSQUFEE12420       0
dtype: int64

In [ ]:
df_2['latestPrice_log'] = np.log(df_2['latestPrice'])
df_2.shape

(15020, 44)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# change path as desired, use the same path in the model file
df_2.to_pickle("/content/drive/MyDrive/pickle_data/df2_mdl")

In [ ]:
df_2 = pd.read_pickle("/content/drive/MyDrive/pickle_data/df2_mdl")

In [ ]:
df_2 = df_2.drop(columns=['latestPrice'])

In [ ]:
# FIRST SPLIT
n_train = int(0.8 * len(df_2))
train = df_2.iloc[:n_train]
test  = df_2.iloc[n_train:]

X_train = train.drop(columns=['latestPrice_log'])
y_train = train['latestPrice_log']
X_test = test.drop(columns=['latestPrice_log'])
y_test = test['latestPrice_log']
X_train.shape

(12016, 42)

In [ ]:
############################### Feature selection #######################################

In [ ]:
############# Univariate Feature Selection
binary_columns = ['hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView']
# Subset only the binary features
X_train_binary = X_train[binary_columns]
X_test_binary = X_test[binary_columns]

from sklearn.feature_selection import SelectKBest, f_regression
import pandas as pd

# Set the number of features you want to select (if you want to select a subset)
# For demonstration, we'll evaluate all binary features
selector_binary = SelectKBest(score_func=f_regression, k='all')

# Fit the selector on the binary features of the training set
selector_binary.fit(X_train_binary, y_train)

# Retrieve the scores for each binary feature
binary_feature_scores = pd.Series(selector_binary.scores_, index=binary_columns)
print("Binary Feature Scores:")
print(binary_feature_scores)

# If you want to select only the top N binary features (e.g., top 3):
top_n = 3
selected_binary_features = binary_feature_scores.nlargest(top_n).index
print("Selected Binary Features:", selected_binary_features)

# Reduce your datasets to these selected features:
X_train_binary_selected = X_train_binary[selected_binary_features]
X_test_binary_selected = X_test_binary[selected_binary_features]

Binary Feature Scores:
hasAssociation      2.943383
hasCooling         30.246183
hasGarage          62.770049
hasHeating         17.962233
hasSpa            558.804990
hasView           266.587613
dtype: float64
Selected Binary Features: Index(['hasSpa', 'hasView', 'hasGarage'], dtype='object')

In [ ]:
################## Mutual information ###############
from sklearn.feature_selection import SelectKBest, mutual_info_regression

selector_binary_mi = SelectKBest(score_func=mutual_info_regression, k='all')
selector_binary_mi.fit(X_train_binary, y_train)

binary_feature_scores_mi = pd.Series(selector_binary_mi.scores_, index=binary_columns)
print("Binary Feature Mutual Information Scores:")
print(binary_feature_scores_mi)

# For example, select top 3 binary features by mutual information:
selected_binary_features_mi = binary_feature_scores_mi.nlargest(top_n).index
print("Selected Binary Features (Mutual Info):", selected_binary_features_mi)

# Subset data:
X_train_binary_selected_mi = X_train_binary[selected_binary_features_mi]
X_test_binary_selected_mi = X_test_binary[selected_binary_features_mi]

Binary Feature Mutual Information Scores:
hasAssociation    0.017527
hasCooling        0.011161
hasGarage         0.005557
hasHeating        0.002137
hasSpa            0.018806
hasView           0.010413
dtype: float64
Selected Binary Features (Mutual Info): Index(['hasSpa', 'hasAssociation', 'hasCooling'], dtype='object')

In [ ]:
print(df_2.dtypes)

latitude                             float64
longitude                            float64
propertyTaxRate                      float64
garageSpaces                           int64
hasAssociation                          bool
hasCooling                              bool
hasGarage                               bool
hasHeating                              bool
hasSpa                                  bool
hasView                                 bool
parkingSpaces                          int64
yearBuilt                              int64
numPriceChanges                        int64
latest_saledate               datetime64[ns]
latest_salemonth                       int64
latest_saleyear                        int64
numOfPhotos                            int64
numOfAccessibilityFeatures             int64
numOfAppliances                        int64
numOfParkingFeatures                   int64
numOfPatioAndPorchFeatures             int64
numOfSecurityFeatures                  int64
numOfWaterfrontFeatures                int64
numOfWindowFeatures                    int64
numOfCommunityFeatures                 int64
lotSizeSqFt                          float64
livingAreaSqFt                       float64
numOfPrimarySchools                    int64
numOfElementarySchools                 int64
numOfMiddleSchools                     int64
numOfHighSchools                       int64
avgSchoolDistance                    float64
avgSchoolRating                      float64
avgSchoolSize                          int64
MedianStudentsPerTeacher               int64
numOfBathrooms                       float64
numOfBedrooms                          int64
numOfStories                           int64
population                           float64
density                              float64
MORTGAGE30US                         float64
MEDLISPRIPERSQUFEE12420                int64
latestPrice_log                      float64
dtype: object

In [ ]:
df_2

,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,...,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,population,density,MORTGAGE30US,MEDLISPRIPERSQUFEE12420,latestPrice_log
0,30.197430,-97.741470,1.98,0,False,True,False,True,False,False,...,794,12,2.0,3,1,51069.0,872.3,4.04,163,12.254387
1,30.163763,-97.940430,2.01,0,True,True,False,True,False,False,...,743,15,3.0,4,1,26413.0,279.9,4.04,163,12.994530
2,30.443314,-97.802513,1.98,0,True,True,False,True,False,False,...,1632,16,3.0,4,1,29322.0,959.6,4.04,163,13.429701
3,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,1057,14,3.0,3,2,51069.0,872.3,4.04,163,12.468437
4,30.432798,-97.716034,1.98,2,True,True,True,True,False,False,...,1486,15,2.0,3,1,30894.0,1535.4,4.04,163,12.691580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15015,30.297621,-97.712097,1.98,3,False,True,True,True,False,True,...,1156,15,1.0,2,1,6576.0,1873.3,2.77,226,12.959844
15016,30.367903,-97.653358,1.98,4,True,True,True,True,True,False,...,1066,12,3.0,4,2,31410.0,801.1,2.73,226,12.675764
15017,30.424355,-97.726814,1.98,2,False,True,True,True,True,False,...,1486,15,2.0,3,1,30894.0,1535.4,2.73,226,13.017003
15018,30.357496,-97.642845,1.98,0,True,True,False,True,False,False,...,1066,12,2.0,4,1,31410.0,801.1,2.73,226,12.310428
15019,30.426525,-97.761047,1.98,2,False,True,True,True,False,False,...,1638,16,2.0,3,1,44882.0,1216.0,2.73,226,13.120361

In [ ]:
X_train

,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,...,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,population,density,MORTGAGE30US,MEDLISPRIPERSQUFEE12420
0,30.197430,-97.741470,1.98,0,False,True,False,True,False,False,...,3.000000,794,12,2.0,3,1,51069.0,872.3,4.04,163
1,30.163763,-97.940430,2.01,0,True,True,False,True,False,False,...,8.000000,743,15,3.0,4,1,26413.0,279.9,4.04,163
2,30.443314,-97.802513,1.98,0,True,True,False,True,False,False,...,8.666667,1632,16,3.0,4,1,29322.0,959.6,4.04,163
3,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,5.333333,1057,14,3.0,3,2,51069.0,872.3,4.04,163
4,30.432798,-97.716034,1.98,2,True,True,True,True,False,False,...,6.666667,1486,15,2.0,3,1,30894.0,1535.4,4.04,163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12011,30.302172,-97.685814,1.98,1,False,True,True,True,False,False,...,5.000000,966,15,2.5,3,2,36307.0,1986.0,3.07,186
12012,30.224392,-97.866348,1.98,2,False,True,True,True,False,False,...,6.000000,1494,17,3.0,4,2,34939.0,1393.2,3.07,186
12013,30.462727,-97.686287,1.98,2,False,True,True,True,False,False,...,5.666667,1431,14,2.0,3,1,26776.0,1334.2,3.07,186
12014,30.243877,-97.738037,1.98,2,False,True,True,True,False,False,...,4.333333,916,14,6.0,4,2,50479.0,2223.8,3.07,186
12015,30.176392,-97.696960,1.98,2,True,True,True,True,False,False,...,3.666667,1532,12,2.0,3,1,51069.0,872.3,3.03,186

In [ ]:
y_train

0        12.254387
1        12.994530
2        13.429701
3        12.468437
4        12.691580
           ...
12011    13.384728
12012    12.871335
12013    12.736701
12014    14.457364
12015    12.736407
Name: latestPrice_log, Length: 12016, dtype: float64

In [ ]:
df_3=df_2.copy()

In [ ]:
df_3

,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,...,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,population,density,MORTGAGE30US,MEDLISPRIPERSQUFEE12420,latestPrice_log
0,30.197430,-97.741470,1.98,0,False,True,False,True,False,False,...,794,12,2.0,3,1,51069.0,872.3,4.04,163,12.254387
1,30.163763,-97.940430,2.01,0,True,True,False,True,False,False,...,743,15,3.0,4,1,26413.0,279.9,4.04,163,12.994530
2,30.443314,-97.802513,1.98,0,True,True,False,True,False,False,...,1632,16,3.0,4,1,29322.0,959.6,4.04,163,13.429701
3,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,1057,14,3.0,3,2,51069.0,872.3,4.04,163,12.468437
4,30.432798,-97.716034,1.98,2,True,True,True,True,False,False,...,1486,15,2.0,3,1,30894.0,1535.4,4.04,163,12.691580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15015,30.297621,-97.712097,1.98,3,False,True,True,True,False,True,...,1156,15,1.0,2,1,6576.0,1873.3,2.77,226,12.959844
15016,30.367903,-97.653358,1.98,4,True,True,True,True,True,False,...,1066,12,3.0,4,2,31410.0,801.1,2.73,226,12.675764
15017,30.424355,-97.726814,1.98,2,False,True,True,True,True,False,...,1486,15,2.0,3,1,30894.0,1535.4,2.73,226,13.017003
15018,30.357496,-97.642845,1.98,0,True,True,False,True,False,False,...,1066,12,2.0,4,1,31410.0,801.1,2.73,226,12.310428
15019,30.426525,-97.761047,1.98,2,False,True,True,True,False,False,...,1638,16,2.0,3,1,44882.0,1216.0,2.73,226,13.120361

In [ ]:
pip install deap

Collecting deap
  Downloading deap-1.4.2-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from deap) (2.0.2)
Downloading deap-1.4.2-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (135 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.4/135.4 kB 4.1 MB/s eta 0:00:00
Installing collected packages: deap
Successfully installed deap-1.4.2

In [ ]:
# Load Data
X = df_2.drop(columns=['latestPrice_log', 'latest_saledate']) # Drop 'latest_saledate' here
y = df_2['latestPrice_log']

In [ ]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from deap import base, creator, tools, algorithms
import random

# Load Data
X = df_2.drop(columns=['latestPrice_log', 'latest_saledate'])  # Drop 'latest_saledate' here
y = df_2['latestPrice_log']

# Genetic Algorithm Setup
num_features = X.shape[1]  # Use X.shape[1] to get the correct number of features
creator.create("FitnessMax", base.Fitness, weights=(1.0,))  # Maximize fitness
creator.create("Individual", list, fitness=creator.FitnessMax)

# Initialize population
def init_individual():
    return creator.Individual([random.randint(0, 1) for _ in range(num_features)])

def evaluate(individual):
    # Get the indices of the selected features based on the individual's bits
    selected_features_indices = [i for i, bit in enumerate(individual) if bit == 1]

    # If no features are selected, return a very low fitness
    if not selected_features_indices:
        return -np.inf,

    # Select the corresponding columns from X using the indices
    X_selected = X.iloc[:, selected_features_indices]

    # Split the selected data into training and validation sets
    X_train, X_val, y_train, y_val = train_test_split(X_selected, y, test_size=0.2, random_state=42)

    # Train a RandomForestRegressor on the training data
    model = RandomForestRegressor(random_state=42)
    model.fit(X_train, y_train)

    # Predict on the validation set
    y_pred = model.predict(X_val)

    # Calculate R² and RMSE
    r2 = r2_score(y_val, y_pred)
    rmse = np.sqrt(mean_squared_error(y_val, y_pred))

    # Define fitness (you might want to adjust the weight on RMSE)
    fitness = r2 - 0.1 * rmse

    return fitness,

# Genetic Operators
toolbox = base.Toolbox()
toolbox.register("individual", init_individual)
toolbox.register("population", tools.initRepeat, list, toolbox.individual)
toolbox.register("evaluate", evaluate)
toolbox.register("mate", tools.cxTwoPoint)
toolbox.register("mutate", tools.mutFlipBit, indpb=0.05)
toolbox.register("select", tools.selTournament, tournsize=3)

# Run Genetic Algorithm with 10 generations
population = toolbox.population(n=20)
algorithms.eaSimple(population, toolbox, cxpb=0.5, mutpb=0.2, ngen=15, verbose=True)  # Changed ngen to 5

# Get Best Feature Set
best_individual = tools.selBest(population, k=1)[0]
selected_features = [X.columns[i] for i, bit in enumerate(best_individual) if bit == 1]
print("Selected Features:", selected_features)

gen	nevals
0  	20
1  	13
2  	14
3  	12
4  	7
5  	13
6  	10
7  	17
8  	18
9  	14
10 	14
11 	14
12 	13
13 	11
14 	15
15 	16
Selected Features: ['latitude', 'longitude', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'yearBuilt', 'numPriceChanges', 'latest_salemonth', 'latest_saleyear', 'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures', 'lotSizeSqFt', 'livingAreaSqFt', 'numOfElementarySchools', 'numOfHighSchools', 'avgSchoolRating', 'avgSchoolSize', 'numOfBathrooms', 'numOfStories', 'density', 'MEDLISPRIPERSQUFEE12420']

In [ ]:
"""
############### Penalty for overfitting #####################
def evaluate(individual):
    # Get indices of selected features based on the individual's bits
    selected_features_indices = [i for i, bit in enumerate(individual) if bit == 1]

    # If no features are selected, return a very low fitness score
    if not selected_features_indices:
        return -np.inf,

    # Select columns from X using the selected indices
    X_selected = X.iloc[:, selected_features_indices]

    # Split the data into training and validation sets
    X_train, X_val, y_train, y_val = train_test_split(X_selected, y, test_size=0.2, random_state=42)

    # Train a RandomForestRegressor on the training data
    model = RandomForestRegressor(random_state=42)
    model.fit(X_train, y_train)

    # Predict on the validation set and compute validation metrics
    y_pred = model.predict(X_val)
    r2_val = r2_score(y_val, y_pred)
    rmse_val = np.sqrt(mean_squared_error(y_val, y_pred))

    # Evaluate performance on the training set to check for overfitting
    y_train_pred = model.predict(X_train)
    train_r2 = r2_score(y_train, y_train_pred)

    # Compute the overfitting penalty: a larger difference indicates more overfitting
    overfit_penalty = train_r2 - r2_val

    # Calculate fitness: higher validation performance increases fitness,
    # while high RMSE and overfitting reduce it.
    fitness = r2_val - 0.1 * rmse_val - 0.5 * overfit_penalty

    return fitness,

"""

In [ ]:
# Manually define selected features
selected_features = [
   'latitude', 'longitude', 'hasAssociation', 'parkingSpaces', 'yearBuilt', 'numPriceChanges', 'latest_salemonth', 'numOfPhotos', 'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures', 'numOfWaterfrontFeatures', 'lotSizeSqFt', 'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools', 'numOfHighSchools', 'avgSchoolSize', 'MedianStudentsPerTeacher', 'Housing_Tenure_Ownership', 'Housing_Tenure_Rental', 'density', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'
]

# Ensure the target variable is included
selected_features.append('latestPrice_log')

# Create df_3 with only the selected features and the target variable
df_3 = df_2[selected_features]

# Display the first few rows
df_3.head()

KeyError: "['Housing_Tenure_Ownership', 'Housing_Tenure_Rental'] not in index"

In [ ]:
# FIRST SPLIT
# Use df_3 for consistent splitting
n_train = int(0.8 * len(df_3))  # Use length of df_3

# Split df_3 instead of df_2
train = df_3.iloc[:n_train]
test = df_3.iloc[n_train:]

# Create X and y from the splits
X_train = train.drop(columns=['latestPrice_log'])
y_train = train['latestPrice_log']
X_test = test.drop(columns=['latestPrice_log'])
y_test = test['latestPrice_log']

X_train.shape
train.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'numPriceChanges',
       'latest_saledate', 'latest_salemonth', 'latest_saleyear', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'population', 'density',
       'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420', 'latestPrice_log'],
      dtype='object')

In [ ]:

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(df, features):
    vif_data = pd.DataFrame()
    vif_data["feature"] = features
    vif_data["VIF"] = [variance_inflation_factor(df[features].values, i) for i in range(len(features))]
    return vif_data.sort_values(by=['VIF'], ascending=False)

# features_to_check = X_train.select_dtypes(include=['number']).drop(columns=['latitude', 'longitude', 'latest_saledate', 'parkingSpaces', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'], errors='ignore').columns

# First check for the correlated feature using code in the cell above to ensure they're removed
# Then, calculate VIF on X_train (dropping 'latest_saledate' as it's a datetime type):
# This checks for VIF for all features EXCEPT the ones dropped
features_to_check = X_train.select_dtypes(include=['number']).drop(columns=['latest_saledate'], errors='ignore').columns
vif_results = calculate_vif(X_train[features_to_check], features_to_check)
print(vif_results)

# Identify features with high VIF and consider dropping them
high_vif_features = vif_results[vif_results['VIF'] > 10]['feature'].tolist() # Example threshold of 10
print('Features with high VIF:', high_vif_features)

# Remove the features with high VIF from X_train
# X_train_dropped = X_train.drop(columns=high_vif_features, errors='ignore') # Note: errors='ignore' in case a feature is already dropped

Requirement already satisfied: statsmodels in /usr/local/lib/python3.11/dist-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (2.0.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.14.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

/usr/local/lib/python3.11/dist-packages/statsmodels/stats/outliers_influence.py:197: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

                       feature           VIF
3                 garageSpaces           inf
4                parkingSpaces           inf
8              latest_saleyear  5.904576e+06
1                    longitude  4.704095e+06
0                     latitude  2.341615e+05
5                    yearBuilt  1.528973e+04
34     MEDLISPRIPERSQUFEE12420  3.332622e+03
2              propertyTaxRate  2.401001e+03
27    MedianStudentsPerTeacher  2.983429e+02
33                MORTGAGE30US  2.538184e+02
20         numOfPrimarySchools  9.050934e+01
25             avgSchoolRating  5.561470e+01
26               avgSchoolSize  4.295514e+01
29               numOfBedrooms  3.218875e+01
22          numOfMiddleSchools  2.798650e+01
23            numOfHighSchools  2.646735e+01
28              numOfBathrooms  2.086658e+01
30                numOfStories  1.469764e+01
12        numOfParkingFeatures  1.146912e+01
31                  population  1.110375e+01
32                     density  9.557174e+00
24           avgSchoolDistance  6.100708e+00
7             latest_salemonth  5.441585e+00
19              livingAreaSqFt  5.252646e+00
11             numOfAppliances  4.642130e+00
21      numOfElementarySchools  4.112687e+00
9                  numOfPhotos  3.983401e+00
6              numPriceChanges  2.654874e+00
13  numOfPatioAndPorchFeatures  2.505477e+00
14       numOfSecurityFeatures  2.017633e+00
16         numOfWindowFeatures  1.669758e+00
17      numOfCommunityFeatures  1.035961e+00
15     numOfWaterfrontFeatures  1.008978e+00
10  numOfAccessibilityFeatures  1.008247e+00
18                 lotSizeSqFt  1.003337e+00
Features with high VIF: ['garageSpaces', 'parkingSpaces', 'latest_saleyear', 'longitude', 'latitude', 'yearBuilt', 'MEDLISPRIPERSQUFEE12420', 'propertyTaxRate', 'MedianStudentsPerTeacher', 'MORTGAGE30US', 'numOfPrimarySchools', 'avgSchoolRating', 'avgSchoolSize', 'numOfBedrooms', 'numOfMiddleSchools', 'numOfHighSchools', 'numOfBathrooms', 'numOfStories', 'numOfParkingFeatures', 'population']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_3.to_pickle("/content/drive/MyDrive/pickle_data/df2_mdl")