# Data Preparation

## Import Libraries

In [1]:
from posix import getcwd

from jupyterlab.commands import get_workspaces_dir
!pip install pandas
!pip install matplotlib
!pip install seaborn
!pip install geopandas
!pip install wordcloud
!pip install mapclassify
!pip install mgwr
!pip install statsmodels

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: matplotlib in ./.venv/lib/python3.12/site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in ./.venv/lib/python3.12/site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.12/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: seaborn in ./.venv/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in ./.venv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in ./.venv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in ./.venv/lib/python3.12/site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: geopandas in ./.venv/lib/python3.12/site-packages (1.0.1)
Requirement already satisfied: numpy>=1.22 in ./.venv/lib/python3.12/site-packages (from geopandas) (2.2.3)
Requirement already satisfied: pyogrio>=0.7.2 in ./.venv/lib/python3.12/site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in ./.venv/lib/python3.12/site-packages (from geopandas) (24.2)
Requirement already satisfied: pandas>=1.4.0 in ./.venv/lib/python3.12/site-packages (from geopandas) (2.2.3)
Requirement already satisfied: pyproj>=3.3.0 in ./.venv/lib/python3.12/site-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in ./.venv/lib/python3.12/site-packages (from geopandas) (2.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4.0->geopandas) (2025.1)
Requirement already satisfied: certifi in ./.venv/lib/python3.12/site-packages (from pyogrio>=0.7.2->geopandas) (2025.1.31)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: wordcloud in ./.venv/lib/python3.12/site-packages (1.9.4)
Requirement already satisfied: numpy>=1.6.1 in ./.venv/lib/python3.12/site-packages (from wordcloud) (2.2.3)
Requirement already satisfied: pillow in ./.venv/lib/python3.12/site-packages (from wordcloud) (11.1.0)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.12/site-packages (from wordcloud) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (1.4.8)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in ./.venv/lib/python3.12/site-packages (from matplotlib->wordcloud) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: mapclassify in ./.venv/lib/python3.12/site-packages (2.8.1)
Requirement already satisfied: networkx>=2.7 in ./.venv/lib/python3.12/site-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.23 in ./.venv/lib/python3.12/site-packages (from mapclassify) (2.2.3)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in ./.venv/lib/python3.12/site-packages (from mapclassify) (2.2.3)
Requirement already satisfied: scikit-learn>=1.0 in ./.venv/lib/python3.12/site-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.8 in ./.venv/lib/python3.12/site-packages (from mapclassify) (1.15.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.1)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn>=1.0->mapclassify) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn>=1.0->mapclassify) (3.5.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: mgwr in ./.venv/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: scipy>=0.11 in ./.venv/lib/python3.12/site-packages (from mgwr) (1.15.2)
Requirement already satisfied: numpy>=1.3 in ./.venv/lib/python3.12/site-packages (from mgwr) (2.2.3)
Requirement already satisfied: libpysal>=4.0.0 in ./.venv/lib/python3.12/site-packages (from mgwr) (4.12.1)
Requirement already satisfied: spglm>=1.0.6 in ./.venv/lib/python3.12/site-packages (from mgwr) (1.1.0)
Requirement already satisfied: spreg in ./.venv/lib/python3.12/site-packages (from mgwr) (1.8.2)
Requirement already satisfied: beautifulsoup4>=4.10 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (4.13.3)
Requirement already satisfied: geopandas>=0.10.0 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (1.0.1)
Requirement already satisfied: packaging>=22 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (24.2)
Requirement already satisfied: pandas>=1.4 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (2.2.3)
Requirement already satisfied: platformdirs>=2.0.2 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (4.3.6)
Requirement already satisfied: requests>=2.27 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (2.32.3)
Requirement already satisfied: shapely>=2.0.1 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (2.0.7)
Requirement already satisfied: scikit-learn>=1.1 in ./.venv/lib/python3.12/site-packages (from libpysal>=4.0.0->mgwr) (1.6.1)
Requirement already satisfied: soupsieve>1.2 in ./.venv/lib/python3.12/site-packages (from beautifulsoup4>=4.10->libpysal>=4.0.0->mgwr) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in ./.venv/lib/python3.12/site-packages (from beautifulsoup4>=4.10->libpysal>=4.0.0->mgwr) (4.12.2)
Requirement already satisfied: pyogrio>=0.7.2 in ./.venv/lib/python3.12/site-packages (from geopandas>=0.10.0->libpysal>=4.0.0->mgwr) (0.10.0)
Requirement already satisfied: pyproj>=3.3.0 in ./.venv/lib/python3.12/site-packages (from geopandas>=0.10.0->libpysal>=4.0.0->mgwr) (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4->libpysal>=4.0.0->mgwr) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4->libpysal>=4.0.0->mgwr) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas>=1.4->libpysal>=4.0.0->mgwr) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.12/site-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.12/site-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (2025.1.31)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn>=1.1->libpysal>=4.0.0->mgwr) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.12/site-packages (from scikit-learn>=1.1->libpysal>=4.0.0->mgwr) (3.5.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.4->libpysal>=4.0.0->mgwr) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: statsmodels in ./.venv/lib/python3.12/site-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in ./.venv/lib/python3.12/site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in ./.venv/lib/python3.12/site-packages (from statsmodels) (1.15.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in ./.venv/lib/python3.12/site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in ./.venv/lib/python3.12/site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in ./.venv/lib/python3.12/site-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

## Load and Merge Datasets

There are 5 datasets that we will load and merge into one. Our main dataset is Austin housing price, which has most of the features needed for the model prediction. Besides, there is a dataset contain population and density for every zip code in the USA, a dataset contains income per zip code for Austin, mortage rate for Austin and median list price per square feet.

### The 1st dataset has information about population and density for every zip code in the US

In [36]:
zip = pd.read_csv("uszips.csv")

In [39]:
#There are more than 30 000 cities in this data set, hence, we only need data for Austin, so in the next step, we will filter it
zip['city'].nunique

<bound method IndexOpsMixin.nunique of 0           Adjuntas
1             Aguada
2          Aguadilla
3            Maricao
4             Anasco
            ...
33778          Hyder
33779        Klawock
33780     Metlakatla
33781    Point Baker
33782       Wrangell
Name: city, Length: 33783, dtype: object>

In [41]:
zip[zip['city'] == 'Austin'].count()

zip                 51
lat                 51
lng                 51
city                51
state_id            51
state_name          51
zcta                51
parent_zcta          0
population          51
density             51
county_fips         51
county_name         51
county_weights      51
county_names_all    51
county_fips_all     51
imprecise           51
military            51
timezone            51
dtype: int64

In [85]:
#reduce the data set to include only zip code for Austin and its population & density
zip_austin = zip.loc[zip['city'].str.lower() == 'austin', ['zip','population', 'density']]

In [74]:
zip_austin

       population  density
5192        1,196        2
13838       1,203       21
15678       6,647       61
19143      29,438       60
25219       9,945       84
27913      11,114    2,845
27914      26,495    2,044
27915      22,484    1,544
27916      50,479    2,224
27917      32,937    6,143
27918         206      140
27919      36,085    1,068
27920       1,556       30
27921      10,728    1,161
27922       6,576    1,873
27923      36,307    1,986
27924      29,326      454
27925      10,810      236
27926      14,117      470
27927      30,894    1,535
27928      26,776    1,334
27929      30,440    1,198
27930       9,669      248
27931      27,136    1,198
27932      20,646      621
27933       9,339      322
27934      22,091      450
27935      20,112      385
27936       9,849      171
27937      26,413      280
27938      28,790      264
27939      20,850      695
27940      45,274    2,244
27941         638       42
27942      51,069      872
27943      61,122    1,718
27944      28,268      476
27945      21,757      378
27946      54,942    1,501
27947      34,939    1,393
27948      29,322      960
27949      16,027    2,562
27950      22,261    2,576
27951      58,449    1,989
27952      31,410      801
27953       9,844    2,275
27954      24,327    1,897
27955      50,592    2,150
27956      44,882    1,216
28804       1,557       18

In [45]:
#remove the row which has density = 0, this might due to lack of data
zip_austin = zip_austin[zip_austin['density'] != 0]

### Another data set with Austin income by zip code is loaded

In [149]:
income = pd.read_csv('Income By Zipcode.csv', sep =';')
income['ZIP'].nunique()

     ZIP  Income
0  78617   78019
1  78652  118750
2  78701  154867
3  78702  101304
4  78703  144637

In [150]:
income.head()

     ZIP  Income
0  78617   78019
1  78652  118750
2  78701  154867
3  78702  101304
4  78703  144637

### The main dataset about Austin housing

In [48]:
data = pd.read_csv('austinHousingData.csv')
data = data[data['city'] == 'austin']

In [151]:
data.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage,ZIP,Income,zip,population,density
0,116080992,austin,10505 Cannon Mark Way,78717,*PLEASE SEE THE WALKTHROUGH VIRTUAL TOUR*This ...,30,-98,2,0,True,...,14,6,5,2,116080992_83c089e97b4e96ecb01c3555fa8252d0-p_f...,"78,717","140,483","78,717","36,085","1,068"
1,88013985,austin,15524 Staked Plains Loop,78717,Rare opportunity in this high demand area of A...,30,-98,2,2,True,...,16,4,5,2,88013985_6d4b35d2a232c42fcc863317f22401c7-p_f.jpg,"78,717","140,483","78,717","36,085","1,068"
2,70344594,austin,15217 Sabal Palm Rd,78724,Charming Home boasting 3 bedrooms and 2 baths....,30,-98,2,2,False,...,13,2,3,1,70344594_3e29ab1c54a4a8ca80360911b9ac7434-p_f.jpg,"78,724","76,906","78,724","29,326",454
3,185217484,austin,14004 Chisos Trl,78717,"COVETED, SPACIOUS 3 bed + OFFICE, 1story MIL P...",30,-98,2,0,True,...,16,2,3,1,185217484_1f06634bc9d5424bc0f094f68ca72fe4-p_f...,"78,717","140,483","78,717","36,085","1,068"
5,116080981,austin,14405 Laurinburg Dr,78717,Popular Bingham Floor plan in sought after Nor...,30,-98,2,2,True,...,14,5,4,2,116080981_b15ecd54b82b93b6af1408beb22e069f-p_f...,"78,717","140,483","78,717","36,085","1,068"

In [65]:
data['zipcode'].nunique()

45

In [90]:
#merge population, density and income with zip code to the main dataset
data = data.merge(income, left_on='zipcode', right_on='ZIP', how='left')\
           .merge(zip_austin, left_on='zipcode', right_on='zip', how='left')

In [94]:
#in merging process, there are some missing value for certain area, we will investigate and fill the missing value
print(data.isnull().sum())

zpid                            0
city                            0
streetAddress                   0
zipcode                         0
description                     2
latitude                        0
longitude                       0
propertyTaxRate                 0
garageSpaces                    0
hasAssociation                  0
hasCooling                      0
hasGarage                       0
hasHeating                      0
hasSpa                          0
hasView                         0
homeType                        0
parkingSpaces                   0
yearBuilt                       0
latestPrice                     0
numPriceChanges                 0
latest_saledate                 0
latest_salemonth                0
latest_saleyear                 0
latestPriceSource               0
numOfPhotos                     0
numOfAccessibilityFeatures      0
numOfAppliances                 0
numOfParkingFeatures            0
numOfPatioAndPorchFeatures      0
numOfSecurityFeatures           0
numOfWaterfrontFeatures         0
numOfWindowFeatures             0
numOfCommunityFeatures          0
lotSizeSqFt                     0
livingAreaSqFt                  0
numOfPrimarySchools             0
numOfElementarySchools          0
numOfMiddleSchools              0
numOfHighSchools                0
avgSchoolDistance               0
avgSchoolRating                 0
avgSchoolSize                   0
MedianStudentsPerTeacher        0
numOfBathrooms                  0
numOfBedrooms                   0
numOfStories                    0
homeImage                       0
ZIP                           786
Income                        786
zip                             2
population                      2
density                         2
dtype: int64

In [97]:
#checking for income data missing 
missing_income = data[data['ZIP'].isnull() | data['Income'].isnull()]
missing_income['zipcode'].unique()

array([78734, 78737, 78736, 78738, 78653])

As of now, the income data for 5 zip code is missing. We are taking Median Household Income data from https://www.incomebyzipcode.com/texas to fill the missing value:

For 78734: 129,116 <br>
For 78737: 164,066 <br>
For 78736: 100,761 <br>
For 78738: 169,911 <br>
For 78653: 92,799 <br>

In [101]:
fill_income = {
    78734: 129116,
    78737: 164066,
    78736: 100761,
    78738: 169911,
    78653: 92799}

for zip_code, median_income in fill_income.items():
    mask = (data['zipcode'] == zip_code) & (data['Income'].isnull())
    data.loc[mask, 'Income'] = median_income

filled_income = data.loc[data['zipcode'].isin(fill_income.keys()), ['zipcode', 'Income']]
print(filled_income)

       zipcode  Income
355      78734 129,116
364      78734 129,116
378      78734 129,116
431      78737 164,066
442      78737 164,066
...        ...     ...
12842    78736 100,761
13803    78734 129,116
13810    78737 164,066
13812    78736 100,761
13814    78737 164,066

[786 rows x 2 columns]

In [102]:
#check rows with misisng population data
missing_pop = data[data['zip'].isnull() | data['population'].isnull()]
missing_pop['zipcode'].unique()

array([78652, 78653])

Also from https://www.incomebyzipcode.com/texas/ there is information about population and density

For 78652: 

Estimated Population: Approximately 7,500 residents <br>
Population Density: Roughly 1,300 people per square mile

For 78653:

Estimated Population: Approximately 8,200 residents <br>
Population Density: Roughly 1,400 people per square mile

In [103]:
# Define a dictionary mapping the zip codes to their population and density estimates.
fill_pop = {
    78652: {'population': 7500, 'density': 1300},
    78653: {'population': 8200, 'density': 1400}}

for zip_code, values in fill_pop.items():
    mask = data['zipcode'] == zip_code
    data.loc[mask, 'population'] = values['population']
    data.loc[mask, 'density'] = values['density']

filled_pop = data.loc[data['zipcode'].isin(fill_pop.keys()), ['zipcode', 'population', 'density']]
print(filled_pop)

       zipcode  population  density
750      78652       7,500    1,300
10686    78653       8,200    1,400

In [119]:
print(data.columns)

Index(['zpid', 'city', 'streetAddress', 'zipcode', 'description', 'latitude',
       'longitude', 'propertyTaxRate', 'garageSpaces', 'hasAssociation',
       'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView',
       'homeType', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'latestPriceSource', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'homeImage', 'ZIP', 'Income', 'zip',
       'population', 'density'],
      dtype='object')

In [124]:
#there are certain columns which are not meaningful so we will drop them
cols_to_drop = ['zpid', 'city', 'streetAddress', 'zipcode', 'description','homeImage','homeType', 'latestPriceSource', 'ZIP', 'zip', 'latest_salemonth','latest_saleyear']

In [125]:
df = data.drop(columns=cols_to_drop, errors='ignore')

In [126]:
#check if there is any null value left after remove those columns
df.isnull().sum()

latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
Income                        0
population                    0
density                       0
dtype: int64

In [127]:
#check if there is any duplicate value
df.duplicated().sum()

np.int64(0)

At this point, we have dataframe 'df' with all the features

### For the next part, we will incorporate macroeconomic factors, which are mortage rate and median list price per square feet from the other 2 datasets

In [130]:
MTG = pd.read_csv('MORTGAGE30US.csv')
MPPSQ = pd.read_csv('MEDLISPRIPERSQUFEE12420.csv')

In [131]:
def parse_obs_date(date_str):
    d = str(date_str).strip().split()[0]
    if "/" in d:
        return pd.to_datetime(d, format='%d/%m/%Y', errors='raise')
    else:
        return pd.to_datetime(d, errors='raise')

MTG['observation_date'] = MTG['observation_date'].apply(parse_obs_date)
MPPSQ['observation_date'] = MPPSQ['observation_date'].apply(parse_obs_date)
MTG['MORTGAGE30US'].dtypes

dtype('float64')

In [ ]:
df['latest_saledate'] = pd.to_datetime(df['latest_saledate'], errors='coerce')
df = df.sort_values('latest_saledate')

In [140]:
#merge mortgate rate
MTG['observation_date'] = pd.to_datetime(MTG['observation_date'], format='%d/%m/%Y', errors='coerce')
MTG = MTG.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MTG rate available
df_2 = pd.merge_asof(df, MTG, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'Income', 'population', 'density',
       'MORTGAGE30US'],
      dtype='object')

In [141]:
#merge median list price
MPPSQ['observation_date'] = pd.to_datetime(MPPSQ['observation_date'], format='%d/%m/%Y', errors='coerce')
MPPSQ = MPPSQ.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MPPSQ available
df_2 = pd.merge_asof(df_2, MPPSQ, left_on='latest_saledate', right_on='observation_date', direction='backward')

df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'Income', 'population', 'density',
       'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

At this point, we have a complete dataset 'df_2' that can be used for further development.