<a href="https://colab.research.google.com/github/Shahahaha11/LION_DEN/blob/main/data_prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preparation

## Import Libraries

In [2]:
from posix import getcwd

"""from jupyterlab.commands import get_workspaces_dir"""
!pip install pandas
!pip install matplotlib
!pip install seaborn
!pip install geopandas
!pip install wordcloud
!pip install mapclassify
!pip install mgwr
!pip install statsmodels

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.11/dist-packages (from seaborn) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.11/dist-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.11/dist-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Requirement already satisfied: geopandas in /usr/local/lib/python3.11/dist-packages (1.0.1)
Requirement already satisfied: numpy>=1.22 in /usr/local/lib/python3.11/dist-packages (from geopandas) (2.0.2)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.11/dist-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from geopandas) (24.2)
Requirement already satisfied: pandas>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from geopandas) (2.2.2)
Requirement already satisfied: pyproj>=3.3.0 in /usr/local/lib/python3.11/dist-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from geopandas) (2.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4.0->geopandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4.0->geopandas) (2025.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from pyogrio>=0.7.2->geopandas) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.17.0)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.11/dist-packages (1.9.4)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.11/dist-packages (from wordcloud) (2.0.2)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from wordcloud) (11.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from wordcloud) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.17.0)
Collecting mapclassify
  Downloading mapclassify-2.8.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: networkx>=2.7 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (2.0.2)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.8 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->mapclassify) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->mapclassify) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.17.0)
Downloading mapclassify-2.8.1-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.1/59.1 kB 2.5 MB/s eta 0:00:00
Installing collected packages: mapclassify
Successfully installed mapclassify-2.8.1
Collecting mgwr
  Downloading mgwr-2.2.1-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: scipy>=0.11 in /usr/local/lib/python3.11/dist-packages (from mgwr) (1.14.1)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.11/dist-packages (from mgwr) (2.0.2)
Collecting libpysal>=4.0.0 (from mgwr)
  Downloading libpysal-4.13.0-py3-none-any.whl.metadata (4.8 kB)
Collecting spglm>=1.0.6 (from mgwr)
  Downloading spglm-1.1.0-py3-none-any.whl.metadata (3.9 kB)
Collecting spreg (from mgwr)
  Downloading spreg-1.8.2-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: beautifulsoup4>=4.10 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (4.13.3)
Requirement already satisfied: geopandas>=0.10.0 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (1.0.1)
Requirement already satisfied: packaging>=22 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (24.2)
Requirement already satisfied: pandas>=1.4 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (2.2.2)
Requirement already satisfied: platformdirs>=2.0.2 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (4.3.7)
Requirement already satisfied: requests>=2.27 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (2.32.3)
Requirement already satisfied: shapely>=2.0.1 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (2.0.7)
Requirement already satisfied: scikit-learn>=1.1 in /usr/local/lib/python3.11/dist-packages (from libpysal>=4.0.0->mgwr) (1.6.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.10->libpysal>=4.0.0->mgwr) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4>=4.10->libpysal>=4.0.0->mgwr) (4.12.2)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.11/dist-packages (from geopandas>=0.10.0->libpysal>=4.0.0->mgwr) (0.10.0)
Requirement already satisfied: pyproj>=3.3.0 in /usr/local/lib/python3.11/dist-packages (from geopandas>=0.10.0->libpysal>=4.0.0->mgwr) (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4->libpysal>=4.0.0->mgwr) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4->libpysal>=4.0.0->mgwr) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.4->libpysal>=4.0.0->mgwr) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.27->libpysal>=4.0.0->mgwr) (2025.1.31)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.1->libpysal>=4.0.0->mgwr) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.1->libpysal>=4.0.0->mgwr) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.4->libpysal>=4.0.0->mgwr) (1.17.0)
Downloading mgwr-2.2.1-py3-none-any.whl (47 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.9/47.9 kB 2.2 MB/s eta 0:00:00
Downloading libpysal-4.13.0-py3-none-any.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 38.9 MB/s eta 0:00:00
Downloading spglm-1.1.0-py3-none-any.whl (41 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.4/41.4 kB 2.3 MB/s eta 0:00:00
Downloading spreg-1.8.2-py3-none-any.whl (388 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 388.2/388.2 kB 21.2 MB/s eta 0:00:00
Installing collected packages: libpysal, spreg, spglm, mgwr
Successfully installed libpysal-4.13.0 mgwr-2.2.1 spglm-1.1.0 spreg-1.8.2
Requirement already satisfied: statsmodels in /usr/local/lib/python3.11/dist-packages (0.14.4)
Requirement already satisfied: numpy<3,>=1.22.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (2.0.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.14.1)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (2.2.2)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels) (24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

## Load and Merge Datasets

There are 5 datasets that we will load and merge into one. Our main dataset is Austin housing price, which has most of the features needed for the model prediction. Besides, there is a dataset contain population and density for every zip code in the USA, a dataset contains income per zip code for Austin, mortage rate for Austin and median list price per square feet.

### The 1st dataset has information about population and density for every zip code in the US

In [4]:
zip = pd.read_csv("/content/uszips.csv")

In [5]:
#There are more than 30 000 cities in this data set, hence, we only need data for Austin, so in the next step, we will filter it
zip['city'].nunique

<bound method IndexOpsMixin.nunique of 0           Adjuntas
1             Aguada
2          Aguadilla
3            Maricao
4             Anasco
            ...
33778          Hyder
33779        Klawock
33780     Metlakatla
33781    Point Baker
33782       Wrangell
Name: city, Length: 33783, dtype: object>

In [6]:
zip[zip['city'] == 'Austin'].count()

zip                 51
lat                 51
lng                 51
city                51
state_id            51
state_name          51
zcta                51
parent_zcta          0
population          51
density             51
county_fips         51
county_name         51
county_weights      51
county_names_all    51
county_fips_all     51
imprecise           51
military            51
timezone            51
dtype: int64

In [7]:
#reduce the data set to include only zip code for Austin and its population & density
zip_austin = zip.loc[zip['city'].str.lower() == 'austin', ['zip','population', 'density']]

In [8]:
zip_austin

         zip  population  density
5192   16720      1196.0      1.7
13838  42123      1203.0     21.1
15678  47102      6647.0     61.0
19143  55912     29438.0     60.5
25219  72007      9945.0     83.6
27913  78701     11114.0   2845.1
27914  78702     26495.0   2043.5
27915  78703     22484.0   1544.0
27916  78704     50479.0   2223.8
27917  78705     32937.0   6143.4
27918  78712       206.0    139.6
27919  78717     36085.0   1068.1
27920  78719      1556.0     30.4
27921  78721     10728.0   1161.0
27922  78722      6576.0   1873.3
27923  78723     36307.0   1986.0
27924  78724     29326.0    454.0
27925  78725     10810.0    236.2
27926  78726     14117.0    470.5
27927  78727     30894.0   1535.4
27928  78728     26776.0   1334.2
27929  78729     30440.0   1197.8
27930  78730      9669.0    247.8
27931  78731     27136.0   1198.0
27932  78732     20646.0    620.9
27933  78733      9339.0    322.0
27934  78734     22091.0    450.4
27935  78735     20112.0    384.6
27936  78736      9849.0    170.6
27937  78737     26413.0    279.9
27938  78738     28790.0    264.1
27939  78739     20850.0    694.7
27940  78741     45274.0   2244.2
27941  78742       638.0     41.7
27942  78744     51069.0    872.3
27943  78745     61122.0   1718.0
27944  78746     28268.0    476.1
27945  78747     21757.0    378.0
27946  78748     54942.0   1500.9
27947  78749     34939.0   1393.2
27948  78750     29322.0    959.6
27949  78751     16027.0   2562.0
27950  78752     22261.0   2575.8
27951  78753     58449.0   1988.7
27952  78754     31410.0    801.1
27953  78756      9844.0   2275.2
27954  78757     24327.0   1897.0
27955  78758     50592.0   2149.7
27956  78759     44882.0   1216.0
28804  81410      1557.0     17.6
30509  89310       173.0      0.0

In [9]:
#remove the row which has density = 0, this might due to lack of data
zip_austin = zip_austin[zip_austin['density'] != 0]

### Another data set with Austin income by zip code is loaded

In [13]:
income = pd.read_excel('/content/Income By Zipcode.xlsx')
income['ZIP'].nunique()

41

In [14]:
income.head()

     ZIP  Income
0  78617   78019
1  78652  118750
2  78701  154867
3  78702  101304
4  78703  144637

### The main dataset about Austin housing

In [15]:
data = pd.read_csv('austinHousingData.csv')
data = data[data['city'] == 'austin']

In [16]:
data.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
17,116080992,austin,10505 Cannon Mark Way,78717,*PLEASE SEE THE WALKTHROUGH VIRTUAL TOUR*This ...,30.486408,-97.794724,2.21,0,True,...,1,1,3.266667,7.666667,1259,14,6.0,5,2,116080992_83c089e97b4e96ecb01c3555fa8252d0-p_f...
18,88013985,austin,15524 Staked Plains Loop,78717,Rare opportunity in this high demand area of A...,30.494375,-97.796516,2.21,2,True,...,1,1,1.933333,8.333333,1481,16,4.0,5,2,88013985_6d4b35d2a232c42fcc863317f22401c7-p_f.jpg
19,70344594,austin,15217 Sabal Palm Rd,78724,Charming Home boasting 3 bedrooms and 2 baths....,30.255707,-97.576958,1.98,2,False,...,1,1,2.433333,2.666667,1478,13,2.0,3,1,70344594_3e29ab1c54a4a8ca80360911b9ac7434-p_f.jpg
20,185217484,austin,14004 Chisos Trl,78717,"COVETED, SPACIOUS 3 bed + OFFICE, 1story MIL P...",30.495638,-97.797874,2.21,0,True,...,1,1,1.900000,8.333333,1481,16,2.0,3,1,185217484_1f06634bc9d5424bc0f094f68ca72fe4-p_f...
21,121719682,austin,14108 Laurinburg Dr,78717,Stunning Modern Design~Super Well Maintained~M...,30.490257,-97.791740,2.21,2,True,...,1,1,3.266667,7.666667,1259,14,4.0,4,2,121719682_4a0a90d12c692fe1bd74b32f2a0dc05f-p_f...

In [17]:
data['zipcode'].nunique()

45

In [18]:
#merge population, density and income with zip code to the main dataset
data = data.merge(income, left_on='zipcode', right_on='ZIP', how='left')\
           .merge(zip_austin, left_on='zipcode', right_on='zip', how='left')

In [19]:
#in merging process, there are some missing value for certain area, we will investigate and fill the missing value
print(data.isnull().sum())

zpid                            0
city                            0
streetAddress                   0
zipcode                         0
description                     2
latitude                        0
longitude                       0
propertyTaxRate                 0
garageSpaces                    0
hasAssociation                  0
hasCooling                      0
hasGarage                       0
hasHeating                      0
hasSpa                          0
hasView                         0
homeType                        0
parkingSpaces                   0
yearBuilt                       0
latestPrice                     0
numPriceChanges                 0
latest_saledate                 0
latest_salemonth                0
latest_saleyear                 0
latestPriceSource               0
numOfPhotos                     0
numOfAccessibilityFeatures      0
numOfAppliances                 0
numOfParkingFeatures            0
numOfPatioAndPorchFeatures      0
numOfSecurityFeatures           0
numOfWaterfrontFeatures         0
numOfWindowFeatures             0
numOfCommunityFeatures          0
lotSizeSqFt                     0
livingAreaSqFt                  0
numOfPrimarySchools             0
numOfElementarySchools          0
numOfMiddleSchools              0
numOfHighSchools                0
avgSchoolDistance               0
avgSchoolRating                 0
avgSchoolSize                   0
MedianStudentsPerTeacher        0
numOfBathrooms                  0
numOfBedrooms                   0
numOfStories                    0
homeImage                       0
ZIP                           786
Income                        786
zip                             2
population                      2
density                         2
dtype: int64

In [20]:
#checking for income data missing
missing_income = data[data['ZIP'].isnull() | data['Income'].isnull()]
missing_income['zipcode'].unique()

array([78734, 78737, 78736, 78738, 78653])

As of now, the income data for 5 zip code is missing. We are taking Median Household Income data from https://www.incomebyzipcode.com/texas to fill the missing value:

For 78734: 129,116 <br>
For 78737: 164,066 <br>
For 78736: 100,761 <br>
For 78738: 169,911 <br>
For 78653: 92,799 <br>

In [21]:
fill_income = {
    78734: 129116,
    78737: 164066,
    78736: 100761,
    78738: 169911,
    78653: 92799}

for zip_code, median_income in fill_income.items():
    mask = (data['zipcode'] == zip_code) & (data['Income'].isnull())
    data.loc[mask, 'Income'] = median_income

filled_income = data.loc[data['zipcode'].isin(fill_income.keys()), ['zipcode', 'Income']]
print(filled_income)

       zipcode    Income
355      78734  129116.0
364      78734  129116.0
378      78734  129116.0
431      78737  164066.0
442      78737  164066.0
...        ...       ...
12842    78736  100761.0
13803    78734  129116.0
13810    78737  164066.0
13812    78736  100761.0
13814    78737  164066.0

[786 rows x 2 columns]

In [22]:
#check rows with misisng population data
missing_pop = data[data['zip'].isnull() | data['population'].isnull()]
missing_pop['zipcode'].unique()

array([78652, 78653])

Also from https://www.incomebyzipcode.com/texas/ there is information about population and density

For 78652:

Estimated Population: Approximately 7,500 residents <br>
Population Density: Roughly 1,300 people per square mile

For 78653:

Estimated Population: Approximately 8,200 residents <br>
Population Density: Roughly 1,400 people per square mile

In [23]:
# Define a dictionary mapping the zip codes to their population and density estimates.
fill_pop = {
    78652: {'population': 7500, 'density': 1300},
    78653: {'population': 8200, 'density': 1400}}

for zip_code, values in fill_pop.items():
    mask = data['zipcode'] == zip_code
    data.loc[mask, 'population'] = values['population']
    data.loc[mask, 'density'] = values['density']

filled_pop = data.loc[data['zipcode'].isin(fill_pop.keys()), ['zipcode', 'population', 'density']]
print(filled_pop)

       zipcode  population  density
750      78652      7500.0   1300.0
10686    78653      8200.0   1400.0

In [24]:
print(data.columns)

Index(['zpid', 'city', 'streetAddress', 'zipcode', 'description', 'latitude',
       'longitude', 'propertyTaxRate', 'garageSpaces', 'hasAssociation',
       'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView',
       'homeType', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'latestPriceSource', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'homeImage', 'ZIP', 'Income', 'zip',
       'population', 'density'],
      dtype='object')

In [25]:
#there are certain columns which are not meaningful so we will drop them
cols_to_drop = ['zpid', 'city', 'streetAddress', 'zipcode', 'description','homeImage','homeType', 'latestPriceSource', 'ZIP', 'zip', 'latest_salemonth','latest_saleyear']

In [26]:
df = data.drop(columns=cols_to_drop, errors='ignore')

In [27]:
#check if there is any null value left after remove those columns
df.isnull().sum()

latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
Income                        0
population                    0
density                       0
dtype: int64

In [28]:
#check if there is any duplicate value
df.duplicated().sum()

np.int64(0)

At this point, we have dataframe 'df' with all the features

### For the next part, we will incorporate macroeconomic factors, which are mortage rate and median list price per square feet from the other 2 datasets

In [29]:
MTG = pd.read_csv('MORTGAGE30US.csv')
MPPSQ = pd.read_csv('MEDLISPRIPERSQUFEE12420.csv')

In [30]:
def parse_obs_date(date_str):
    d = str(date_str).strip().split()[0]
    if "/" in d:
        return pd.to_datetime(d, format='%d/%m/%Y', errors='raise')
    else:
        return pd.to_datetime(d, errors='raise')

MTG['observation_date'] = MTG['observation_date'].apply(parse_obs_date)
MPPSQ['observation_date'] = MPPSQ['observation_date'].apply(parse_obs_date)
MTG['MORTGAGE30US'].dtypes

dtype('float64')

In [31]:
df['latest_saledate'] = pd.to_datetime(df['latest_saledate'], errors='coerce')
df = df.sort_values('latest_saledate')

In [32]:
#merge mortgate rate
MTG['observation_date'] = pd.to_datetime(MTG['observation_date'], format='%d/%m/%Y', errors='coerce')
MTG = MTG.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MTG rate available
df_2 = pd.merge_asof(df, MTG, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'Income', 'population', 'density',
       'MORTGAGE30US'],
      dtype='object')

In [33]:
#merge median list price
MPPSQ['observation_date'] = pd.to_datetime(MPPSQ['observation_date'], format='%d/%m/%Y', errors='coerce')
MPPSQ = MPPSQ.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MPPSQ available
df_2 = pd.merge_asof(df_2, MPPSQ, left_on='latest_saledate', right_on='observation_date', direction='backward')

df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'Income', 'population', 'density',
       'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

At this point, we have a complete dataset 'df_2' that can be used for further development.

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [36]:
# change path as desired, use the same path in the model file
df_2.to_pickle("/content/drive/MyDrive/pickle_data/trial_2.pkl")
## run -> on next script -> df_2.to_pickle("/content/drive/MyDrive/pickle_data/trial_2.pkl")