Name map


---


trial -> trying new variable

---


data_cleaning -> a separate file which ends with saving a pickle that you use in model.ipynb


---


model -> Main model with little extra code

---


model_testing -> Less code, optimized for testing

---

In [80]:
import pandas as pd
import numpy as np
file_path= "/content/austinHousingData.csv"
data = pd.read_csv(file_path)

In [81]:
data['zipcode'].nunique()

48

In [82]:
################ NEW VARIABLE TEST##############################

In [83]:
zp = pd.read_csv("/content/uszips.csv")
zp['zip']

0          601
1          602
2          603
3          606
4          610
         ...
33778    99923
33779    99925
33780    99926
33781    99927
33782    99929
Name: zip, Length: 33783, dtype: int64

In [84]:
zp[zp['city']== 'Austin']['zip'].nunique()

51

In [85]:
########### CHECKING IF MERGING IS RIGHT #########
missing_count = (data['zipcode'].isin(zp['zip']) == False).sum()
print(missing_count)

0

In [86]:
import pandas as pd
zp = zp.set_index('zip')
zp.head()

,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
zip,,,,,,,,,,,,,,,,,
601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16721.0,100.2,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37510.0,477.6,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,48317.0,543.1,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5435.0,47.3,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25413.0,264.4,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.82, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [87]:
data['population'] = data['zipcode'].map(zp['population'])
data['density'] = data['zipcode'].map(zp['density'])

In [88]:
data[data['population'].isna()]['population'].sum()

np.float64(0.0)

In [89]:
#USELESS FEATURES ## BUT WE DROP "city" and "zipcode" after using them. ## no dropping yet
useless_features= ['zipcode','zpid', 'city', 'streetAddress', 'zipcode', 'description','homeImage','homeType', 'latestPriceSource']

In [90]:
data.dtypes

zpid                            int64
city                           object
streetAddress                  object
zipcode                         int64
description                    object
latitude                      float64
longitude                     float64
propertyTaxRate               float64
garageSpaces                    int64
hasAssociation                   bool
hasCooling                       bool
hasGarage                        bool
hasHeating                       bool
hasSpa                           bool
hasView                          bool
homeType                       object
parkingSpaces                   int64
yearBuilt                       int64
latestPrice                   float64
numPriceChanges                 int64
latest_saledate                object
latest_salemonth                int64
latest_saleyear                 int64
latestPriceSource              object
numOfPhotos                     int64
numOfAccessibilityFeatures      int64
numOfAppliances                 int64
numOfParkingFeatures            int64
numOfPatioAndPorchFeatures      int64
numOfSecurityFeatures           int64
numOfWaterfrontFeatures         int64
numOfWindowFeatures             int64
numOfCommunityFeatures          int64
lotSizeSqFt                   float64
livingAreaSqFt                float64
numOfPrimarySchools             int64
numOfElementarySchools          int64
numOfMiddleSchools              int64
numOfHighSchools                int64
avgSchoolDistance             float64
avgSchoolRating               float64
avgSchoolSize                   int64
MedianStudentsPerTeacher        int64
numOfBathrooms                float64
numOfBedrooms                   int64
numOfStories                    int64
homeImage                      object
population                    float64
density                       float64
dtype: object

In [91]:
data['latest_saledate']

0        2019-09-02
1        2020-10-13
2        2019-07-31
3        2018-08-08
4        2018-10-31
            ...
15166    2020-12-10
15167    2020-12-16
15168    2021-01-27
15169    2019-08-07
15170    2021-01-23
Name: latest_saledate, Length: 15171, dtype: object

In [92]:
data['latest_saledate'] = data['latest_saledate'].astype(str).str.strip()
data['latest_saledate'] = pd.to_datetime(data['latest_saledate'], errors='coerce')
print(data['latest_saledate'].isna().sum())

0

In [93]:
data['latest_saledate'].head()

0   2019-09-02
1   2020-10-13
2   2019-07-31
3   2018-08-08
4   2018-10-31
Name: latest_saledate, dtype: datetime64[ns]

In [94]:
data = data.sort_values('latest_saledate').reset_index(drop=True)
data.isna().sum()

zpid                          0
city                          0
streetAddress                 0
zipcode                       0
description                   2
latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
homeType                      0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
latestPriceSource             0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
homeImage                     0
population                    0
density                       0
dtype: int64

In [95]:
 # We have 958 days of analysis
 data['latest_saledate'].value_counts().sort_index().isna().sum()

np.int64(0)

In [96]:
#################### 1 CITY ONLY ###############################
df= data[data['city'] == 'austin'].sort_values(by='latest_saledate')
df.select_dtypes(include='integer').columns

Index(['zpid', 'zipcode', 'garageSpaces', 'parkingSpaces', 'yearBuilt',
       'numPriceChanges', 'latest_salemonth', 'latest_saleyear', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'numOfPrimarySchools',
       'numOfElementarySchools', 'numOfMiddleSchools', 'numOfHighSchools',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBedrooms',
       'numOfStories'],
      dtype='object')

In [97]:
data['latest_saledate'].dropna()

0       2018-01-22
1       2018-01-22
2       2018-01-22
3       2018-01-22
4       2018-01-23
           ...
15166   2021-01-27
15167   2021-01-28
15168   2021-01-29
15169   2021-01-29
15170   2021-01-30
Name: latest_saledate, Length: 15171, dtype: datetime64[ns]

In [98]:
df.select_dtypes(include='object').columns

Index(['city', 'streetAddress', 'description', 'homeType', 'latestPriceSource',
       'homeImage'],
      dtype='object')

In [99]:
################# FINAL DATAFRAME IN USE ################
df_1 = df.drop(columns=useless_features, errors='ignore')
df_1.shape

(15020, 41)

In [100]:
# FINAL CHECK BEFORE MERGING
df_1.isna().sum()

latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
population                    0
density                       0
dtype: int64

In [101]:
# Get Mortgage rate
import pandas as pd
MTG = pd.read_csv('/content/MORTGAGE30US.csv')

print(MTG.shape)

MPPSQ = pd.read_csv('/content/MEDLISPRIPERSQUFEE12420.csv')
print(MPPSQ.dtypes)

(160, 2)
observation_date           object
MEDLISPRIPERSQUFEE12420     int64
dtype: object

In [102]:
############################################################################### Tranforming Mortgage Data #############################################################################################

In [103]:
################## TREATING DATES ON EXTERNAL MACRO VARIABLES ##################
def parse_obs_date(date_str):
    d = str(date_str).strip().split()[0]
    if "/" in d:
        return pd.to_datetime(d, format='%d/%m/%Y', errors='raise')
    else:
        return pd.to_datetime(d, errors='raise')

MTG['observation_date'] = MTG['observation_date'].apply(parse_obs_date)
MPPSQ['observation_date'] = MPPSQ['observation_date'].apply(parse_obs_date)
MTG['MORTGAGE30US'].dtypes

dtype('float64')

In [104]:
print(MTG.isna().sum())
print(MPPSQ.isna().sum())

observation_date    0
MORTGAGE30US        0
dtype: int64
observation_date           0
MEDLISPRIPERSQUFEE12420    0
dtype: int64

In [105]:
df_2 = df_1.copy()

In [106]:
##################################.MERGE. ####################################

import pandas as pd

df_2['latest_saledate'] = pd.to_datetime(df_2['latest_saledate'], errors='coerce')
df_2 = df_2.sort_values('latest_saledate')

# Read and prepare the MTG rates
MTG['observation_date'] = pd.to_datetime(MTG['observation_date'], format='%d/%m/%Y', errors='coerce')
MTG = MTG.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MTG rate available
df_2 = pd.merge_asof(df_2, MTG, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'population',
       'density', 'MORTGAGE30US'],
      dtype='object')

In [107]:
# read variable, sort variable on date
MPPSQ['observation_date'] = pd.to_datetime(MPPSQ['observation_date'], format='%d/%m/%Y', errors='coerce')
MPPSQ = MPPSQ.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MPPSQ available
df_2 = pd.merge_asof(df_2, MPPSQ, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if you no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'population',
       'density', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

In [108]:
df_2[['latest_saledate','MORTGAGE30US','MEDLISPRIPERSQUFEE12420']]

      latest_saledate  MORTGAGE30US  MEDLISPRIPERSQUFEE12420
0          2018-01-22          4.04                      163
1          2018-01-22          4.04                      163
2          2018-01-22          4.04                      163
3          2018-01-22          4.04                      163
4          2018-01-23          4.04                      163
...               ...           ...                      ...
15015      2021-01-27          2.77                      226
15016      2021-01-28          2.73                      226
15017      2021-01-29          2.73                      226
15018      2021-01-29          2.73                      226
15019      2021-01-30          2.73                      226

[15020 rows x 3 columns]

In [109]:
df_2.isna().sum()

latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
population                    0
density                       0
MORTGAGE30US                  0
MEDLISPRIPERSQUFEE12420       0
dtype: int64

In [113]:
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'population',
       'density', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

In [110]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [116]:
# change path as desired, use the same path in the model file
df_2.to_pickle("/content/drive/MyDrive/lions_den_data/df_2_trial.pkl")

In [117]:
df_2 = pd.read_pickle("/content/drive/MyDrive/df_2_trial2.pkl")

In [121]:
# FIRST SPLIT
n_train = int(0.6 * len(df_2))
train = df_2.iloc[:n_train]
test  = df_2.iloc[n_train:]

X_train = train.drop(columns=['latestPrice_log'])
y_train = train['latestPrice_log']
X_test = test.drop(columns=['latestPrice_log'])
y_test = test['latestPrice_log']
X_train.shape

(7803, 44)

In [ ]:
## run -> on next script -> df_2 = pd.read_pickle('/content/drive/MyDrive/lions_den_data/df_2.pkl')

In [120]:
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Step 1: Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Step 2: Initialize the Lasso model with an alpha value (regularization strength)
lasso = Lasso(alpha=0.01)  # You can adjust alpha for stronger or weaker regularization

# Step 3: Fit the Lasso model to the scaled training data
lasso.fit(X_train_scaled, y_train)

# Step 4: Get the coefficients of the features
lasso_coefficients = pd.Series(lasso.coef_, index=X_train.columns)

# Step 5: Get the selected features (non-zero coefficients)
selected_features = lasso_coefficients[lasso_coefficients != 0].index

# Step 6: Reduce the dataset to the selected features
X_train_selected = X_train[selected_features]
X_test_selected = X_test[selected_features]

# Step 7: Show selected features
print(f"Selected Features (Lasso): {selected_features}")

DTypePromotionError: The DType <class 'numpy.dtypes.DateTime64DType'> could not be promoted by <class 'numpy.dtypes.Float64DType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.DateTime64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>)

In [122]:
from sklearn.feature_selection import SelectKBest, f_regression

# Select 70% of the best features
num_features = int(0.7 * X_train.shape[1])
selector = SelectKBest(score_func=f_regression, k=num_features)

X_train_selected = selector.fit_transform(X_train, y_train)

# Get the selected feature names
selected_columns = X_train.columns[selector.get_support()]
print("Selected features:", selected_columns)

DTypePromotionError: The DType <class 'numpy.dtypes.DateTime64DType'> could not be promoted by <class 'numpy.dtypes.Float64DType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.DateTime64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>)

In [ ]:
############################### Feature selection #######################################

In [ ]:
############# Univariate Feature Selection

In [126]:
############# Univariate Feature Selection
binary_columns = ['hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView']
# Subset only the binary features
X_train_binary = X_train[binary_columns]
X_test_binary = X_test[binary_columns]

from sklearn.feature_selection import SelectKBest, f_regression
import pandas as pd

# Set the number of features you want to select (if you want to select a subset)
# For demonstration, we'll evaluate all binary features
selector_binary = SelectKBest(score_func=f_regression, k='all')

# Fit the selector on the binary features of the training set
selector_binary.fit(X_train_binary, y_train)

# Retrieve the scores for each binary feature
binary_feature_scores = pd.Series(selector_binary.scores_, index=binary_columns)
print("Binary Feature Scores:")
print(binary_feature_scores)

# If you want to select only the top N binary features (e.g., top 3):
top_n = 3
selected_binary_features = binary_feature_scores.nlargest(top_n).index
print("Selected Binary Features:", selected_binary_features)

# Reduce your datasets to these selected features:
X_train_binary_selected = X_train_binary[selected_binary_features]
X_test_binary_selected = X_test_binary[selected_binary_features]

Binary Feature Scores:
hasAssociation      5.063620
hasCooling         17.902976
hasGarage          38.091015
hasHeating          9.963372
hasSpa            370.734842
hasView           159.952185
dtype: float64
Selected Binary Features: Index(['hasSpa', 'hasView', 'hasGarage'], dtype='object')

In [127]:
################## Mutual information ###############
from sklearn.feature_selection import SelectKBest, mutual_info_regression

selector_binary_mi = SelectKBest(score_func=mutual_info_regression, k='all')
selector_binary_mi.fit(X_train_binary, y_train)

binary_feature_scores_mi = pd.Series(selector_binary_mi.scores_, index=binary_columns)
print("Binary Feature Mutual Information Scores:")
print(binary_feature_scores_mi)

# For example, select top 3 binary features by mutual information:
selected_binary_features_mi = binary_feature_scores_mi.nlargest(top_n).index
print("Selected Binary Features (Mutual Info):", selected_binary_features_mi)

# Subset data:
X_train_binary_selected_mi = X_train_binary[selected_binary_features_mi]
X_test_binary_selected_mi = X_test_binary[selected_binary_features_mi]

Binary Feature Mutual Information Scores:
hasAssociation    0.015003
hasCooling        0.000000
hasGarage         0.005273
hasHeating        0.000000
hasSpa            0.018980
hasView           0.009628
dtype: float64
Selected Binary Features (Mutual Info): Index(['hasSpa', 'hasAssociation', 'hasView'], dtype='object')

In [128]:
print(df_2.dtypes)

latitude                             float64
longitude                            float64
propertyTaxRate                      float64
garageSpaces                           int64
hasAssociation                          bool
hasCooling                              bool
hasGarage                               bool
hasHeating                              bool
hasSpa                                  bool
hasView                                 bool
parkingSpaces                          int64
yearBuilt                              int64
numPriceChanges                        int64
latest_saledate               datetime64[ns]
latest_salemonth                       int64
latest_saleyear                        int64
numOfPhotos                            int64
numOfAccessibilityFeatures             int64
numOfAppliances                        int64
numOfParkingFeatures                   int64
numOfPatioAndPorchFeatures             int64
numOfSecurityFeatures                  int64
numOfWaterfrontFeatures                int64
numOfWindowFeatures                    int64
numOfCommunityFeatures                 int64
lotSizeSqFt                          float64
livingAreaSqFt                         int64
numOfPrimarySchools                    int64
numOfElementarySchools                 int64
numOfMiddleSchools                     int64
numOfHighSchools                       int64
avgSchoolDistance                    float64
avgSchoolRating                      float64
avgSchoolSize                          int64
MedianStudentsPerTeacher               int64
numOfBathrooms                       float64
numOfBedrooms                          int64
numOfStories                           int64
Housing_Tenure_Ownership               int64
Housing_Tenure_Rental                  int64
population                           float64
density                              float64
MORTGAGE30US                         float64
MEDLISPRIPERSQUFEE12420                int64
latestPrice_log                      float64
dtype: object

In [129]:
from sklearn.ensemble import RandomForestRegressor

# Fit Random Forest
model = RandomForestRegressor()
model.fit(X_train, y_train)

# Get feature importances
importances = model.feature_importances_

# Select the top 70% of features based on importances
num_features = int(0.7 * len(importances))
top_idx = importances.argsort()[-num_features:]
top_features = X_train.columns[top_idx]
print("Top 70% features:", top_features)

DTypePromotionError: The DType <class 'numpy.dtypes.DateTime64DType'> could not be promoted by <class 'numpy.dtypes.Float64DType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.BoolDType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.DateTime64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>)

In [130]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13005 entries, 0 to 13004
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   latitude                    13005 non-null  float64
 1   longitude                   13005 non-null  float64
 2   propertyTaxRate             13005 non-null  float64
 3   garageSpaces                13005 non-null  int64
 4   hasAssociation              13005 non-null  bool
 5   hasCooling                  13005 non-null  bool
 6   hasGarage                   13005 non-null  bool
 7   hasHeating                  13005 non-null  bool
 8   hasSpa                      13005 non-null  bool
 9   hasView                     13005 non-null  bool
 10  parkingSpaces               13005 non-null  int64
 11  yearBuilt                   13005 non-null  int64
 12  numPriceChanges             13005 non-null  int64
 13  latest_saledate             13005 non-null  datetime64[ns]
 14  latest_salemonth            13005 non-null  int64
 15  latest_saleyear             13005 non-null  int64
 16  numOfPhotos                 13005 non-null  int64
 17  numOfAccessibilityFeatures  13005 non-null  int64
 18  numOfAppliances             13005 non-null  int64
 19  numOfParkingFeatures        13005 non-null  int64
 20  numOfPatioAndPorchFeatures  13005 non-null  int64
 21  numOfSecurityFeatures       13005 non-null  int64
 22  numOfWaterfrontFeatures     13005 non-null  int64
 23  numOfWindowFeatures         13005 non-null  int64
 24  numOfCommunityFeatures      13005 non-null  int64
 25  lotSizeSqFt                 13005 non-null  float64
 26  livingAreaSqFt              13005 non-null  int64
 27  numOfPrimarySchools         13005 non-null  int64
 28  numOfElementarySchools      13005 non-null  int64
 29  numOfMiddleSchools          13005 non-null  int64
 30  numOfHighSchools            13005 non-null  int64
 31  avgSchoolDistance           13005 non-null  float64
 32  avgSchoolRating             13005 non-null  float64
 33  avgSchoolSize               13005 non-null  int64
 34  MedianStudentsPerTeacher    13005 non-null  int64
 35  numOfBathrooms              13005 non-null  float64
 36  numOfBedrooms               13005 non-null  int64
 37  numOfStories                13005 non-null  int64
 38  Housing_Tenure_Ownership    13005 non-null  int64
 39  Housing_Tenure_Rental       13005 non-null  int64
 40  population                  13005 non-null  float64
 41  density                     13005 non-null  float64
 42  MORTGAGE30US                13005 non-null  float64
 43  MEDLISPRIPERSQUFEE12420     13005 non-null  int64
 44  latestPrice_log             13005 non-null  float64
dtypes: bool(6), datetime64[ns](1), float64(11), int64(27)
memory usage: 3.9 MB

In [137]:
############# Random Forest Feature Importance ######################
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# Split the data
n_train = int(0.6 * len(df_2))
train = df_2.iloc[:n_train]
test  = df_2.iloc[n_train:]

X_train = train.drop(columns=['latestPrice_log'])
y_train = train['latestPrice_log']
X_test = test.drop(columns=['latestPrice_log'])
y_test = test['latestPrice_log']

# Fit Random Forest model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Get feature importances from the model
importances = model.feature_importances_

# Calculate the number of features corresponding to the top 70%
num_features = int(0.7 * len(importances))

# Get the indices for the top features
top_idx = importances.argsort()[-num_features:]

# Map indices to feature names
top_features = X_train.columns[top_idx]
print("Top 70% features (Random Forest):", top_features)

# Optionally, reduce your datasets to these selected features:
X_train_selected = X_train[top_features]
X_test_selected = X_test[top_features]

Top 70% features (Random Forest): Index(['numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'propertyTaxRate', 'hasView', 'garageSpaces', 'parkingSpaces',
       'numOfStories', 'MEDLISPRIPERSQUFEE12420', 'numOfParkingFeatures',
       'numOfHighSchools', 'latest_salemonth', 'MedianStudentsPerTeacher',
       'numOfAppliances', 'MORTGAGE30US', 'numOfBedrooms', 'numOfPhotos',
       'latest_saledate_numeric', 'hasAssociation', 'avgSchoolDistance',
       'yearBuilt', 'population', 'numPriceChanges', 'numOfBathrooms',
       'lotSizeSqFt', 'avgSchoolSize', 'density', 'latitude', 'longitude',
       'avgSchoolRating', 'livingAreaSqFt'],
      dtype='object')

In [138]:
# Get the original features
original_features = X_train.columns

# Find features that were removed
removed_features = [feature for feature in original_features if feature not in top_features]
print("Removed features:", removed_features)

Removed features: ['hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'latest_saleyear', 'numOfAccessibilityFeatures', 'numOfWaterfrontFeatures', 'numOfWindowFeatures', 'numOfCommunityFeatures', 'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools', 'Housing_Tenure_Ownership', 'Housing_Tenure_Rental']