<a href="https://colab.research.google.com/github/Shahahaha11/LION_DEN/blob/main/trial2_DATA_CLEANING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name map


---


trial -> trying new variable

---


data_cleaning -> a separate file which ends with saving a pickle that you use in model.ipynb


---


model -> Main model with little extra code

---


model_testing -> Less code, optimized for testing

---

In [ ]:
import pandas as pd
import numpy as np
file_path= "/content/austinHousingData.csv"
data = pd.read_csv(file_path)

In [ ]:
data.columns

Index(['zpid', 'city', 'streetAddress', 'zipcode', 'description', 'latitude',
       'longitude', 'propertyTaxRate', 'garageSpaces', 'hasAssociation',
       'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa', 'hasView',
       'homeType', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'latestPriceSource', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'lotSizeSqFt', 'livingAreaSqFt',
       'numOfPrimarySchools', 'numOfElementarySchools', 'numOfMiddleSchools',
       'numOfHighSchools', 'avgSchoolDistance', 'avgSchoolRating',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBathrooms',
       'numOfBedrooms', 'numOfStories', 'homeImage'],
      dtype='object')

In [ ]:
################ NEW VARIABLE TEST ######### TO MERGE ON ZIP ##############################

In [ ]:
house_inventory = pd.read_csv("/content/Affordable_Housing_Inventory_20250327.csv")
house_inventory.columns

Index(['Contract_ID', 'Project_ID', 'Project_Name', 'Ownership', 'Developer',
       'Address', 'ZIP', 'Parcel_ID', 'Council_District', 'Unit_Type',
       'Housing_Tenure', 'Development_Status', 'Total_Units',
       'Affordable_Units', 'Total_ADA_Units', 'PSH_Units', 'MFI_20', 'MFI_30',
       'MFI_40', 'MFI_50', 'MFI_60', 'MFI_65', 'MFI_70', 'MFI_80', 'MFI_100',
       'MFI_120', 'Affordability_Start_Date', 'Affordability_Expiration_Date',
       'Affordability_Period', 'FIL_Status', 'CAL_FIL', 'Date_FIL_Recorded',
       'HDA', 'Private_Activity_Bonds', 'Affordability_Unlocked', 'SMART',
       'Dev_Agreement', 'Density_Bonus', 'FIL', 'LIHTC', 'GO_Bonds_2006',
       'GO_Bonds_2013', 'GO_Bonds_2018', 'GO_Bonds_2022', 'CDBG', 'CIP_Funds',
       'HOME', 'HTF', 'Project_Connect', 'City_Subsidy', 'Longitude',
       'Latitude'],
      dtype='object')

In [ ]:
########### CHECKING IF MERGING IS RIGHT #########
missing_count =(data['zipcode'].isin(house_inventory['ZIP']) == False).sum()
print(missing_count)

2032

if we have n unique values in one of the columns in the new data set

In [ ]:
house_inventory['ZIP_int'] = house_inventory['ZIP'].dropna().astype(int)
house_inventory['ZIP_int']

0       78722.0
1       78745.0
2       78704.0
3       78704.0
4       78704.0
         ...
2370    78744.0
2371     7857.0
2372    78723.0
2373    78653.0
2374    78702.0
Name: ZIP_int, Length: 2375, dtype: float64

In [ ]:
house_inventory_unique = house_inventory[house_inventory['ZIP'].duplicated(keep=False) == False]
house_inventory_unique.isna().sum()

Contract_ID                      0
Project_ID                       0
Project_Name                     0
Ownership                        0
Developer                        0
Address                          0
ZIP                              0
Parcel_ID                        0
Council_District                 0
Unit_Type                        0
Housing_Tenure                   0
Development_Status               0
Total_Units                      0
Affordable_Units                 0
Total_ADA_Units                  0
PSH_Units                        0
MFI_20                           0
MFI_30                           0
MFI_40                           0
MFI_50                           0
MFI_60                           0
MFI_65                           0
MFI_70                           0
MFI_80                           0
MFI_100                          0
MFI_120                          0
Affordability_Start_Date         3
Affordability_Expiration_Date    0
Affordability_Period             0
FIL_Status                       8
CAL_FIL                          8
Date_FIL_Recorded                8
HDA                              7
Private_Activity_Bonds           0
Affordability_Unlocked           0
SMART                            0
Dev_Agreement                    6
Density_Bonus                    7
FIL                              0
LIHTC                            7
GO_Bonds_2006                    7
GO_Bonds_2013                    7
GO_Bonds_2018                    7
GO_Bonds_2022                    8
CDBG                             7
CIP_Funds                        7
HOME                             7
HTF                              7
Project_Connect                  8
City_Subsidy                     7
Longitude                        0
Latitude                         0
ZIP_int                          0
dtype: int64

In [ ]:
data= data[data['city'] == 'austin']

In [ ]:
data = data.merge(
    house_inventory[['ZIP', 'Housing_Tenure']],
    left_on='zipcode',
    right_on='ZIP',
    how='left'
)
data.isna().sum()

zpid                             0
city                             0
streetAddress                    0
zipcode                          0
description                     21
latitude                         0
longitude                        0
propertyTaxRate                  0
garageSpaces                     0
hasAssociation                   0
hasCooling                       0
hasGarage                        0
hasHeating                       0
hasSpa                           0
hasView                          0
homeType                         0
parkingSpaces                    0
yearBuilt                        0
latestPrice                      0
numPriceChanges                  0
latest_saledate                  0
latest_salemonth                 0
latest_saleyear                  0
latestPriceSource                0
numOfPhotos                      0
numOfAccessibilityFeatures       0
numOfAppliances                  0
numOfParkingFeatures             0
numOfPatioAndPorchFeatures       0
numOfSecurityFeatures            0
numOfWaterfrontFeatures          0
numOfWindowFeatures              0
numOfCommunityFeatures           0
lotSizeSqFt                      0
livingAreaSqFt                   0
numOfPrimarySchools              0
numOfElementarySchools           0
numOfMiddleSchools               0
numOfHighSchools                 0
avgSchoolDistance                0
avgSchoolRating                  0
avgSchoolSize                    0
MedianStudentsPerTeacher         0
numOfBathrooms                   0
numOfBedrooms                    0
numOfStories                     0
homeImage                        0
ZIP                           2015
Housing_Tenure                3447
dtype: int64

In [ ]:
#USELESS FEATURES ## WE DROP USED FEATURES ONLY, "city" (used) and "zipcode" (unused) .
useless_features= ['zpid', 'city', 'streetAddress', 'description','homeImage','homeType', 'latestPriceSource']

In [ ]:
################# FINAL DATAFRAME IN USE ################
data = data.drop(columns=useless_features, errors='ignore')
data.isna().sum()

zipcode                          0
latitude                         0
longitude                        0
propertyTaxRate                  0
garageSpaces                     0
hasAssociation                   0
hasCooling                       0
hasGarage                        0
hasHeating                       0
hasSpa                           0
hasView                          0
parkingSpaces                    0
yearBuilt                        0
latestPrice                      0
numPriceChanges                  0
latest_saledate                  0
latest_salemonth                 0
latest_saleyear                  0
numOfPhotos                      0
numOfAccessibilityFeatures       0
numOfAppliances                  0
numOfParkingFeatures             0
numOfPatioAndPorchFeatures       0
numOfSecurityFeatures            0
numOfWaterfrontFeatures          0
numOfWindowFeatures              0
numOfCommunityFeatures           0
lotSizeSqFt                      0
livingAreaSqFt                   0
numOfPrimarySchools              0
numOfElementarySchools           0
numOfMiddleSchools               0
numOfHighSchools                 0
avgSchoolDistance                0
avgSchoolRating                  0
avgSchoolSize                    0
MedianStudentsPerTeacher         0
numOfBathrooms                   0
numOfBedrooms                    0
numOfStories                     0
ZIP                           2015
Housing_Tenure                3447
dtype: int64

In [ ]:
####### WE DROP AFTER REMOVING USELESS ###
data = data.dropna()
data.shape

(1058073, 42)

In [ ]:
############ FEATURE ENGINEERING ################
import pandas as pd
def create_dummies(df, column):
  if df[column].nunique() <= 7 :
    return pd.get_dummies(df[column], prefix= column, dtype=int)
  else:
      return df[[column]]

dummies = create_dummies(data, 'Housing_Tenure')
data= data.join(dummies)
data

,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,...,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,ZIP,Housing_Tenure,Housing_Tenure_Mixed,Housing_Tenure_Non-Residential,Housing_Tenure_Ownership,Housing_Tenure_Rental
0,78717,30.486408,-97.794724,2.21,0,True,True,False,True,False,...,14,6.0,5,2,78717.0,Rental,0,0,0,1
1,78717,30.486408,-97.794724,2.21,0,True,True,False,True,False,...,14,6.0,5,2,78717.0,Rental,0,0,0,1
2,78717,30.486408,-97.794724,2.21,0,True,True,False,True,False,...,14,6.0,5,2,78717.0,Rental,0,0,0,1
3,78717,30.486408,-97.794724,2.21,0,True,True,False,True,False,...,14,6.0,5,2,78717.0,Rental,0,0,0,1
4,78717,30.494375,-97.796516,2.21,2,True,True,True,True,False,...,16,4.0,5,2,78717.0,Rental,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061515,78702,30.276930,-97.701523,1.98,1,False,True,True,True,False,...,15,1.0,2,1,78702.0,Rental,0,0,0,1
1061516,78702,30.276930,-97.701523,1.98,1,False,True,True,True,False,...,15,1.0,2,1,78702.0,Rental,0,0,0,1
1061517,78702,30.276930,-97.701523,1.98,1,False,True,True,True,False,...,15,1.0,2,1,78702.0,Rental,0,0,0,1
1061518,78702,30.276930,-97.701523,1.98,1,False,True,True,True,False,...,15,1.0,2,1,78702.0,Rental,0,0,0,1
1061519,78702,30.276930,-97.701523,1.98,1,False,True,True,True,False,...,15,1.0,2,1,78702.0,Rental,0,0,0,1

In [ ]:
data.select_dtypes(exclude='number').columns

Index(['hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'latest_saledate', 'Housing_Tenure'],
      dtype='object')

In [ ]:
zp = pd.read_csv("/content/uszips.csv")
zp['zip']

0          601
1          602
2          603
3          606
4          610
         ...
33778    99923
33779    99925
33780    99926
33781    99927
33782    99929
Name: zip, Length: 33783, dtype: int64

In [ ]:
zp[zp['city']== 'Austin']['zip'].nunique()

51

In [ ]:
########### CHECKING IF MERGING IS RIGHT #########
missing_count = (data['zipcode'].isin(zp['zip']) == False).sum()
print(missing_count)

0

In [ ]:
import pandas as pd
zp = zp.set_index('zip')
zp.head()

,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
zip,,,,,,,,,,,,,,,,,
601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16721.0,100.2,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37510.0,477.6,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,48317.0,543.1,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5435.0,47.3,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25413.0,264.4,72011,AÃ±asco,"{""72011"": 96.71, ""72099"": 2.82, ""72083"": 0.37,...",AÃ±asco|Moca|Las MarÃ­as|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [ ]:
data['population'] = data['zipcode'].map(zp['population'])
data['density'] = data['zipcode'].map(zp['density'])

In [ ]:
data[data['population'].isna()]['population'].sum()

np.float64(0.0)

In [ ]:
#USELESS FEATURES ## BUT WE DROP "city" and "zipcode" after using them. ## no dropping yet
useless_features_2= ['zipcode','zpid', 'city', 'streetAddress', 'description','homeImage','homeType', 'latestPriceSource']

In [ ]:
df_1 = data.drop(columns=useless_features_2, errors= 'ignore')
df_1.isna().sum()

latitude                          0
longitude                         0
propertyTaxRate                   0
garageSpaces                      0
hasAssociation                    0
hasCooling                        0
hasGarage                         0
hasHeating                        0
hasSpa                            0
hasView                           0
parkingSpaces                     0
yearBuilt                         0
latestPrice                       0
numPriceChanges                   0
latest_saledate                   0
latest_salemonth                  0
latest_saleyear                   0
numOfPhotos                       0
numOfAccessibilityFeatures        0
numOfAppliances                   0
numOfParkingFeatures              0
numOfPatioAndPorchFeatures        0
numOfSecurityFeatures             0
numOfWaterfrontFeatures           0
numOfWindowFeatures               0
numOfCommunityFeatures            0
lotSizeSqFt                       0
livingAreaSqFt                    0
numOfPrimarySchools               0
numOfElementarySchools            0
numOfMiddleSchools                0
numOfHighSchools                  0
avgSchoolDistance                 0
avgSchoolRating                   0
avgSchoolSize                     0
MedianStudentsPerTeacher          0
numOfBathrooms                    0
numOfBedrooms                     0
numOfStories                      0
ZIP                               0
Housing_Tenure                    0
Housing_Tenure_Mixed              0
Housing_Tenure_Non-Residential    0
Housing_Tenure_Ownership          0
Housing_Tenure_Rental             0
population                        0
density                           0
dtype: int64

In [ ]:
df_1['latest_saledate'] = df_1['latest_saledate'].astype(str).str.strip()
df_1['latest_saledate'] = pd.to_datetime(df_1['latest_saledate'], errors='coerce')
print(df_1['latest_saledate'].isna().sum())

0

In [ ]:
df_1['latest_saledate'].head()

0   2018-01-22
1   2018-01-22
2   2018-01-22
3   2018-01-22
4   2018-01-22
Name: latest_saledate, dtype: datetime64[ns]

In [ ]:
df_1 = df_1.sort_values('latest_saledate').reset_index(drop=True)
df_1['latest_saledate']

0         2018-01-22
1         2018-01-22
2         2018-01-22
3         2018-01-22
4         2018-01-22
             ...
1058068   2021-01-30
1058069   2021-01-30
1058070   2021-01-30
1058071   2021-01-30
1058072   2021-01-30
Name: latest_saledate, Length: 1058073, dtype: datetime64[ns]

In [ ]:
 # We have 958 days of analysis
 df_1['latest_saledate'].value_counts().sort_index().isna().sum()

np.int64(0)

In [ ]:
df_1.select_dtypes(include= object)

          Housing_Tenure
0              Ownership
1              Ownership
2              Ownership
3              Ownership
4              Ownership
...                  ...
1058068  Non-Residential
1058069  Non-Residential
1058070           Rental
1058071           Rental
1058072  Non-Residential

[1058073 rows x 1 columns]

In [ ]:
# FINAL CHECK BEFORE MERGING
df_1.isna().sum()

latitude                          0
longitude                         0
propertyTaxRate                   0
garageSpaces                      0
hasAssociation                    0
hasCooling                        0
hasGarage                         0
hasHeating                        0
hasSpa                            0
hasView                           0
parkingSpaces                     0
yearBuilt                         0
latestPrice                       0
numPriceChanges                   0
latest_saledate                   0
latest_salemonth                  0
latest_saleyear                   0
numOfPhotos                       0
numOfAccessibilityFeatures        0
numOfAppliances                   0
numOfParkingFeatures              0
numOfPatioAndPorchFeatures        0
numOfSecurityFeatures             0
numOfWaterfrontFeatures           0
numOfWindowFeatures               0
numOfCommunityFeatures            0
lotSizeSqFt                       0
livingAreaSqFt                    0
numOfPrimarySchools               0
numOfElementarySchools            0
numOfMiddleSchools                0
numOfHighSchools                  0
avgSchoolDistance                 0
avgSchoolRating                   0
avgSchoolSize                     0
MedianStudentsPerTeacher          0
numOfBathrooms                    0
numOfBedrooms                     0
numOfStories                      0
ZIP                               0
Housing_Tenure                    0
Housing_Tenure_Mixed              0
Housing_Tenure_Non-Residential    0
Housing_Tenure_Ownership          0
Housing_Tenure_Rental             0
population                        0
density                           0
dtype: int64

In [ ]:
# Get Mortgage rate
import pandas as pd
MTG = pd.read_csv('/content/MORTGAGE30US.csv')

print(MTG.shape)

MPPSQ = pd.read_csv('/content/MEDLISPRIPERSQUFEE12420.csv')
print(MPPSQ.dtypes)

(160, 2)
observation_date           object
MEDLISPRIPERSQUFEE12420     int64
dtype: object

In [ ]:
############################################################################### Tranforming Mortgage Data #############################################################################################

In [ ]:
################## TREATING DATES ON EXTERNAL MACRO VARIABLES ##################
def parse_obs_date(date_str):
    d = str(date_str).strip().split()[0]
    if "/" in d:
        return pd.to_datetime(d, format='%d/%m/%Y', errors='raise')
    else:
        return pd.to_datetime(d, errors='raise')

MTG['observation_date'] = MTG['observation_date'].apply(parse_obs_date)
MPPSQ['observation_date'] = MPPSQ['observation_date'].apply(parse_obs_date)
MTG['MORTGAGE30US'].dtypes

dtype('float64')

In [ ]:
print(MTG.isna().sum())
print(MPPSQ.isna().sum())

observation_date    0
MORTGAGE30US        0
dtype: int64
observation_date           0
MEDLISPRIPERSQUFEE12420    0
dtype: int64

In [ ]:
df_2 = df_1.drop(columns='Housing_Tenure', errors= 'ignore')
df_2

,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,hasCooling,hasGarage,hasHeating,hasSpa,hasView,...,numOfBathrooms,numOfBedrooms,numOfStories,ZIP,Housing_Tenure_Mixed,Housing_Tenure_Non-Residential,Housing_Tenure_Ownership,Housing_Tenure_Rental,population,density
0,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,3.0,3,2,78744.0,0,0,1,0,51069.0,872.3
1,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,3.0,3,2,78744.0,0,0,1,0,51069.0,872.3
2,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,3.0,3,2,78744.0,0,0,1,0,51069.0,872.3
3,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,3.0,3,2,78744.0,0,0,1,0,51069.0,872.3
4,30.157705,-97.782372,1.98,2,True,True,True,True,False,False,...,3.0,3,2,78744.0,0,0,1,0,51069.0,872.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058068,30.426525,-97.761047,1.98,2,False,True,True,True,False,False,...,2.0,3,1,78759.0,0,1,0,0,44882.0,1216.0
1058069,30.426525,-97.761047,1.98,2,False,True,True,True,False,False,...,2.0,3,1,78759.0,0,1,0,0,44882.0,1216.0
1058070,30.426525,-97.761047,1.98,2,False,True,True,True,False,False,...,2.0,3,1,78759.0,0,0,0,1,44882.0,1216.0
1058071,30.426525,-97.761047,1.98,2,False,True,True,True,False,False,...,2.0,3,1,78759.0,0,0,0,1,44882.0,1216.0
1058072,30.426525,-97.761047,1.98,2,False,True,True,True,False,False,...,2.0,3,1,78759.0,0,1,0,0,44882.0,1216.0

In [ ]:
##################################.MERGE. ####################################

import pandas as pd

df_2['latest_saledate'] = pd.to_datetime(df_2['latest_saledate'], errors='coerce')
df_2 = df_2.sort_values('latest_saledate')

# Read and prepare the MTG rates
MTG['observation_date'] = pd.to_datetime(MTG['observation_date'], format='%d/%m/%Y', errors='coerce')
MTG = MTG.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MTG rate available
df_2 = pd.merge_asof(df_2, MTG, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'ZIP',
       'Housing_Tenure_Mixed', 'Housing_Tenure_Non-Residential',
       'Housing_Tenure_Ownership', 'Housing_Tenure_Rental', 'population',
       'density', 'MORTGAGE30US'],
      dtype='object')

In [ ]:
# read variable, sort variable on date
MPPSQ['observation_date'] = pd.to_datetime(MPPSQ['observation_date'], format='%d/%m/%Y', errors='coerce')
MPPSQ = MPPSQ.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MPPSQ available
df_2 = pd.merge_asof(df_2, MPPSQ, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if you no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'ZIP',
       'Housing_Tenure_Mixed', 'Housing_Tenure_Non-Residential',
       'Housing_Tenure_Ownership', 'Housing_Tenure_Rental', 'population',
       'density', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

In [ ]:
df_2[['latest_saledate','MORTGAGE30US','MEDLISPRIPERSQUFEE12420']]

        latest_saledate  MORTGAGE30US  MEDLISPRIPERSQUFEE12420
0            2018-01-22          4.04                      163
1            2018-01-22          4.04                      163
2            2018-01-22          4.04                      163
3            2018-01-22          4.04                      163
4            2018-01-22          4.04                      163
...                 ...           ...                      ...
1058068      2021-01-30          2.73                      226
1058069      2021-01-30          2.73                      226
1058070      2021-01-30          2.73                      226
1058071      2021-01-30          2.73                      226
1058072      2021-01-30          2.73                      226

[1058073 rows x 3 columns]

In [49]:
df_2.shape

(1058073, 48)

In [50]:
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'ZIP',
       'Housing_Tenure_Mixed', 'Housing_Tenure_Non-Residential',
       'Housing_Tenure_Ownership', 'Housing_Tenure_Rental', 'population',
       'density', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

In [51]:
df_2['latestPrice_log'] = np.log(df_2['latestPrice'])
df_2.shape

(1058073, 49)

In [52]:
df_2 = df_2.drop(columns= 'latestPrice', errors='ignore')
df_2.shape

(1058073, 48)

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# change path as desired, use the same path in the model file
df_2.to_pickle("/content/drive/MyDrive/lions_den_data/MODEL & DATA_CLEANING/df_2_trial2.pkl")

In [ ]:
## run -> on next script -> df_2 = pd.read_pickle("/content/drive/MyDrive/lions_den_data/MODEL & DATA_CLEANING/df_2_trial2.pkl")