<a href="https://colab.research.google.com/github/Shahahaha11/LION_DEN/blob/main/trial_DATA_CLEANING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TESTING GEOGRAPHICALLY WEIGHTED REGRESSION. Fotheringham, Brunsdon & Charlton (2003)

In [ ]:
import pandas as pd
import numpy as np
file_path= "/content/austinHousingData.csv"
data = pd.read_csv(file_path)

In [ ]:
data['zipcode'].nunique()

48

In [ ]:
################ NEW VARIABLE TEST#########################

In [ ]:
zp = pd.read_csv("/content/uszips.csv")
zp.tail()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
33778,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,NaN,25.0,0.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33779,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,NaN,854.0,6.1,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33780,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1385.0,4.0,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33781,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,18.0,1.5,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33782,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2105.0,0.3,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka

In [ ]:
zp[zp['city']== "Austin"]['zip'].count()

np.int64(51)

In [ ]:
zp['zip'].nunique

In [ ]:
import pandas as pd
zp = zp.set_index('zip')
zp.head()

,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
zip,,,,,,,,,,,,,,,,,
601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16721.0,100.2,72001,Adjuntas,"{""72001"": 98.74, ""72141"": 1.26}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37510.0,477.6,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,48317.0,543.1,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5435.0,47.3,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25413.0,264.4,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.82, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [ ]:
data['population'] = data['zipcode'].map(zp['population'])
data['density'] = data['zipcode'].map(zp['density'])

In [ ]:
data[data['density'].isna()]['density'].count()

np.int64(0)

In [ ]:
#USELESS FEATURES ## BUT WE DROP "city" and "zipcode" after using them. ## no dropping yet
useless_features= ['zipcode','zpid', 'city', 'streetAddress', 'zipcode', 'description','homeImage','homeType', 'latestPriceSource']

In [ ]:
data.dtypes

zpid                                   int64
city                                  object
streetAddress                         object
zipcode                                int64
description                           object
latitude                             float64
longitude                            float64
propertyTaxRate                      float64
garageSpaces                           int64
hasAssociation                          bool
hasCooling                              bool
hasGarage                               bool
hasHeating                              bool
hasSpa                                  bool
hasView                                 bool
homeType                              object
parkingSpaces                          int64
yearBuilt                              int64
latestPrice                          float64
numPriceChanges                        int64
latest_saledate               datetime64[ns]
latest_salemonth                       int64
latest_saleyear                        int64
latestPriceSource                     object
numOfPhotos                            int64
numOfAccessibilityFeatures             int64
numOfAppliances                        int64
numOfParkingFeatures                   int64
numOfPatioAndPorchFeatures             int64
numOfSecurityFeatures                  int64
numOfWaterfrontFeatures                int64
numOfWindowFeatures                    int64
numOfCommunityFeatures                 int64
lotSizeSqFt                          float64
livingAreaSqFt                       float64
numOfPrimarySchools                    int64
numOfElementarySchools                 int64
numOfMiddleSchools                     int64
numOfHighSchools                       int64
avgSchoolDistance                    float64
avgSchoolRating                      float64
avgSchoolSize                          int64
MedianStudentsPerTeacher               int64
numOfBathrooms                       float64
numOfBedrooms                          int64
numOfStories                           int64
homeImage                             object
population                           float64
density                              float64
dtype: object

In [ ]:
data['latest_saledate']

0       2019-09-02
1       2020-10-13
2       2019-07-31
3       2018-08-08
4       2018-10-31
           ...
15166   2020-12-10
15167   2020-12-16
15168   2021-01-27
15169   2019-08-07
15170   2021-01-23
Name: latest_saledate, Length: 15171, dtype: datetime64[ns]

In [ ]:
data['latest_saledate'] = data['latest_saledate'].astype(str).str.strip()
data['latest_saledate'] = pd.to_datetime(data['latest_saledate'], errors='coerce')
print(data['latest_saledate'].isna().sum())

0

In [ ]:
# Data inspection
print(f"integer:{data.select_dtypes(include='integer').columns}")
print(f"object:{data.select_dtypes(include='object').columns}")
print(f"bools:{data.select_dtypes(include='bool').columns}")

integer:Index(['zpid', 'zipcode', 'garageSpaces', 'parkingSpaces', 'yearBuilt',
       'numPriceChanges', 'latest_salemonth', 'latest_saleyear', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'numOfPrimarySchools',
       'numOfElementarySchools', 'numOfMiddleSchools', 'numOfHighSchools',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBedrooms',
       'numOfStories'],
      dtype='object')
object:Index(['city', 'streetAddress', 'description', 'homeType', 'latestPriceSource',
       'homeImage'],
      dtype='object')
bools:Index(['hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView'],
      dtype='object')

In [ ]:
 # We have 958 days of analysis
 data['latest_saledate'].value_counts().sort_index()

latest_saledate
2018-01-22     4
2018-01-23    10
2018-01-24     8
2018-01-25    11
2018-01-26    13
              ..
2021-01-26     2
2021-01-27     2
2021-01-28     1
2021-01-29     2
2021-01-30     1
Name: count, Length: 958, dtype: int64

In [ ]:
#################### 1 CITY ONLY ###############################
df= data[data['city'] == 'austin'].sort_values(by='latest_saledate')
df.select_dtypes(include='integer').columns

Index(['zpid', 'zipcode', 'garageSpaces', 'parkingSpaces', 'yearBuilt',
       'numPriceChanges', 'latest_salemonth', 'latest_saleyear', 'numOfPhotos',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numOfParkingFeatures',
       'numOfPatioAndPorchFeatures', 'numOfSecurityFeatures',
       'numOfWaterfrontFeatures', 'numOfWindowFeatures',
       'numOfCommunityFeatures', 'numOfPrimarySchools',
       'numOfElementarySchools', 'numOfMiddleSchools', 'numOfHighSchools',
       'avgSchoolSize', 'MedianStudentsPerTeacher', 'numOfBedrooms',
       'numOfStories'],
      dtype='object')

In [ ]:
data['latest_saledate'].dropna()

0       2019-09-02
1       2020-10-13
2       2019-07-31
3       2018-08-08
4       2018-10-31
           ...
15166   2020-12-10
15167   2020-12-16
15168   2021-01-27
15169   2019-08-07
15170   2021-01-23
Name: latest_saledate, Length: 15171, dtype: datetime64[ns]

In [ ]:
object_features = ['city', 'streetAddress', 'description', 'homeType', 'latestPriceSource','homeImage']

In [ ]:
df.select_dtypes(include='object').columns

Index(['city', 'streetAddress', 'description', 'homeType', 'latestPriceSource',
       'homeImage'],
      dtype='object')

In [ ]:
################# FINAL DATAFRAME IN USE ################
df_1 = df.drop(columns=useless_features, errors='ignore')
df_1.shape

(15020, 41)

In [ ]:
# FINAL CHECK BEFORE MERGING
df_1.isna().sum()

latitude                      0
longitude                     0
propertyTaxRate               0
garageSpaces                  0
hasAssociation                0
hasCooling                    0
hasGarage                     0
hasHeating                    0
hasSpa                        0
hasView                       0
parkingSpaces                 0
yearBuilt                     0
latestPrice                   0
numPriceChanges               0
latest_saledate               0
latest_salemonth              0
latest_saleyear               0
numOfPhotos                   0
numOfAccessibilityFeatures    0
numOfAppliances               0
numOfParkingFeatures          0
numOfPatioAndPorchFeatures    0
numOfSecurityFeatures         0
numOfWaterfrontFeatures       0
numOfWindowFeatures           0
numOfCommunityFeatures        0
lotSizeSqFt                   0
livingAreaSqFt                0
numOfPrimarySchools           0
numOfElementarySchools        0
numOfMiddleSchools            0
numOfHighSchools              0
avgSchoolDistance             0
avgSchoolRating               0
avgSchoolSize                 0
MedianStudentsPerTeacher      0
numOfBathrooms                0
numOfBedrooms                 0
numOfStories                  0
population                    0
density                       0
dtype: int64

In [ ]:
# Get Mortgage rate
import pandas as pd
MTG = pd.read_csv('/content/MORTGAGE30US.csv')

print(MTG.shape)

MPPSQ = pd.read_csv('/content/MEDLISPRIPERSQUFEE12420.csv')
print(MPPSQ.dtypes)

(160, 2)
observation_date           object
MEDLISPRIPERSQUFEE12420     int64
dtype: object

In [ ]:
############################################################################### Tranforming Mortgage Data #############################################################################################

In [ ]:
################## TREATING DATES ON EXTERNAL MACRO VARIABLES ##################
def parse_obs_date(date_str):
    d = str(date_str).strip().split()[0]
    if "/" in d:
        return pd.to_datetime(d, format='%d/%m/%Y', errors='raise')
    else:
        return pd.to_datetime(d, errors='raise')

MTG['observation_date'] = MTG['observation_date'].apply(parse_obs_date)
MPPSQ['observation_date'] = MPPSQ['observation_date'].apply(parse_obs_date)
MTG['MORTGAGE30US'].dtypes

dtype('float64')

In [ ]:
print(MTG.isna().sum())
print(MPPSQ.isna().sum())

observation_date    0
MORTGAGE30US        0
dtype: int64
observation_date           0
MEDLISPRIPERSQUFEE12420    0
dtype: int64

In [ ]:
df_2 = df_1.copy()

In [ ]:
##################################.MERGE. ####################################

import pandas as pd

df_2['latest_saledate'] = pd.to_datetime(df_2['latest_saledate'], errors='coerce')
df_2 = df_2.sort_values('latest_saledate')

# Read and prepare the MTG rates
MTG['observation_date'] = pd.to_datetime(MTG['observation_date'], format='%d/%m/%Y', errors='coerce')
MTG = MTG.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MTG rate available
df_2 = pd.merge_asof(df_2, MTG, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'population',
       'density', 'MORTGAGE30US'],
      dtype='object')

In [ ]:
# read variable, sort variable on date
MPPSQ['observation_date'] = pd.to_datetime(MPPSQ['observation_date'], format='%d/%m/%Y', errors='coerce')
MPPSQ = MPPSQ.sort_values('observation_date')

# Merge using asof so that each sale date gets the most recent MPPSQ available
df_2 = pd.merge_asof(df_2, MPPSQ, left_on='latest_saledate', right_on='observation_date', direction='backward')

# Optional: Remove the duplicate 'date' column if you no longer need it
df_2.drop(columns=['observation_date'], inplace=True)
df_2.columns

Index(['latitude', 'longitude', 'propertyTaxRate', 'garageSpaces',
       'hasAssociation', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parkingSpaces', 'yearBuilt', 'latestPrice',
       'numPriceChanges', 'latest_saledate', 'latest_salemonth',
       'latest_saleyear', 'numOfPhotos', 'numOfAccessibilityFeatures',
       'numOfAppliances', 'numOfParkingFeatures', 'numOfPatioAndPorchFeatures',
       'numOfSecurityFeatures', 'numOfWaterfrontFeatures',
       'numOfWindowFeatures', 'numOfCommunityFeatures', 'lotSizeSqFt',
       'livingAreaSqFt', 'numOfPrimarySchools', 'numOfElementarySchools',
       'numOfMiddleSchools', 'numOfHighSchools', 'avgSchoolDistance',
       'avgSchoolRating', 'avgSchoolSize', 'MedianStudentsPerTeacher',
       'numOfBathrooms', 'numOfBedrooms', 'numOfStories', 'population',
       'density', 'MORTGAGE30US', 'MEDLISPRIPERSQUFEE12420'],
      dtype='object')

In [ ]:
df_2[['latest_saledate','MORTGAGE30US','MEDLISPRIPERSQUFEE12420']]

      latest_saledate  MORTGAGE30US  MEDLISPRIPERSQUFEE12420
0          2018-01-22          4.04                      163
1          2018-01-22          4.04                      163
2          2018-01-22          4.04                      163
3          2018-01-22          4.04                      163
4          2018-01-23          4.04                      163
...               ...           ...                      ...
15015      2021-01-27          2.77                      226
15016      2021-01-28          2.73                      226
15017      2021-01-29          2.73                      226
15018      2021-01-29          2.73                      226
15019      2021-01-30          2.73                      226

[15020 rows x 3 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_2.to_pickle("/content/drive/MyDrive/lions_den_data/df_2_trial.pkl")

In [ ]:
## run -> on next script -> df_2 = pd.read_pickle('/content/drive/MyDrive/lions_den_data/df_2.pkl')